<!DOCTYPE html>
<header class="header-main">
  <p>ACA VA LOGO</p>
  <section class="header-main__navbar">
    <section class="header-main__web">
      <app-navbar></app-navbar>
    </section>
    <section class="header-main__mobile" (click)="header.onDropDown()">
      <!-- TODO: implementar variante de boton cuando sea creada -->
      <div class="button--icon" >
        <a class="button__link">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
      <app-navbar class="heder-main__navbar-mobile" *ngIf="header.isDropDown"></app-navbar>
    </section>
  </section>
</header>
