<article class="radio-filter">
  <section>
    <app-control-field name="radio-filter--option" type="radio" value={{closest}} [checked]="true" label="Menor Distancia" [data-testid]="setTestId('closest')"/>
  </section>

  <section>
    <app-control-field name="radio-filter--option" type="radio" value={{cheapest}} [checked]="false" label="Más Barato" [data-testid]="setTestId('cheapest')"/>
  </section>

  <section>
    <app-control-field name="radio-filter--option" type="radio" value={{packQuantity}} [checked]="false" label="Más Sobres" [data-testid]="setTestId('pack-quantity')"/>
  </section>

  <section>
    <app-control-field name="radio-filter--option" type="radio" value={{closestOnly}} [checked]="false" label="Solo los más cercanos" [data-testid]="setTestId('closestOnly')"/>
  </section>
</article>
