
<form *ngIf="type === 'sortedby'" class="filter">
  <h3 class="filter__title filter__title--primary">Ordenar Por</h3>
  <div class="radio-filter">
    <label for="closest">
      <input
        type="radio"
        id="closest"
        name="radio-filter--option"
        value="closest"
        [(ngModel)]="filter.closest"
      />
      Menor Distancia </label
    ><br />

    <label for="cheapest">
      <input
        type="radio"
        id="cheapest"
        name="radio-filter--option"
        value="cheapest"
        [(ngModel)]="filter.cheapest"
      />
      Más Barato </label
    ><br />

    <label for="pack-quantity">
      <input
        type="radio"
        id="pack-quantity"
        name="radio-filter--option"
        value="pack-quantity"
        [(ngModel)]="filter.packQuantity"
      />
      Más Sobres </label
    ><br />

    <label for="closest-only">
      <input
        type="radio"
        id="closest-only"
        name="radio-filter--option"
        value="closest-only"
        [(ngModel)]="filter.closestOnly"
      />
      Solo los más cercanos
    </label>
  </div>
</form>

<br />

<form *ngIf="type === 'variant'" class="filter" name="variant">
  <h3 class="filter__title filter__title--primary">Filtros</h3>
  <section class="filter__section">
    <section class="filter__sub-section">
      <h4 class="filter__title filter__title--secondary">Valoración</h4>
      <section class="filter__input-group">
        <div class="filter__container">
          <label class="form__row-subtitle" for="">Desde</label>
          <input
          name="from"
          class="form__input--primary input filter__container-input"
          type="number"
          min="0"
          placeholder="Desde"
          [(ngModel)]="filter.from"
          />
        </div>
        <div class="filter__container">
          <label class="form__row-subtitle" for="">Hasta</label>
          <input
            class="form__input--primary input filter__container-input"
            name="to"
            type="number"
            min="0"
            placeholder="Hasta"
            [(ngModel)]="filter.to"
          />
        </div>
      </section>
      <div>
        <input [(ngModel)]="filter.onFire" name="onFire" type="checkbox" />
        <label for="onFire">On fire</label>
      </div>
    </section>
    <section class="filter__sub-section filter__sub-section--grow">
      <div class="filter__checkbox">
        <input [(ngModel)]="filter.isPromise" name="promise" type="checkbox" />
        <label for="promise">Es promesa</label>
      </div>
    </section>
  </section>
</form>
