@import url('../../../styles/styles.css');

.container-button {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  padding: 1em;
}

.button {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1.6em;
  color: var(--clear-color);
  padding: 1.2em 2.5em;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  border: 1px solid var(--focus-color);
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow-md);
}

.button--primary {
  background-color: var(--focus-color);
}

.button--secondary {
  background-color: var(--clear-color);
  color: var(--focus-color);
}

.button:hover {
  background-color: var(--hover-color);
  box-shadow: var(--box-shadow-xl);
  transition: box-shadow 0.3s ease;
}

.button--secondary:hover {
  color: var(--clear-color);
}