@import url('../../../styles/styles.css');

.test__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  max-width: 400px;
  padding: 1em;
}

.button--primary,
.button--secondary,
.button--icon,
.button--text{
  font-size: 1.6em;
  padding: 1.4rem;
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow-2xs);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  border: 1px solid var(--focus-color);
}

.button--primary,
.button--secondary{
  font-family: var(--primary-font);
  font-weight: bold;
}

.button--primary {
  background-color: var(--focus-color);
  color: var(--clear-color);
}

.button--secondary {
  background-color: var(--clear-color);
  color: var(--focus-color);
}

.button--primary:hover {
  background-color: var(--hover-color);
  box-shadow: var(--box-shadow-md);
  transition: box-shadow 0.3s ease;
}

.button--secondary:hover {
  color: var(--clear-color);
}

.button--icon.fa-bars {
  color: var(--primary-color);
}