<article class="radio-filter">
  <section>
    <input
      type="radio"
      id="closest"
      name="radio-filter--option"
      value="closest"
      (click)="filter.getFilterValue($event)"
      checked
    />
    <label for="closest">Menor Distancia</label>
  </section>

  <section>
    <input
      type="radio"
      id="cheapest"
      name="radio-filter--option"
      value="cheapest"
      (click)="filter.getFilterValue($event)"
    />
    <label for="cheapest">Más Barato </label>
  </section>

  <section>
    <input
      type="radio"
      id="pack-quantity"
      name="radio-filter--option"
      value="pack-quantity"
      (click)="filter.getFilterValue($event)"
    />
    <label for="pack-quantity">Más Sobres</label>
  </section>

  <section>
    <input
      type="radio"
      id="closest-only"
      name="radio-filter--option"
      value="closest-only"
      (click)="filter.getFilterValue($event)"
    />
    <label for="closest-only">Solo los más cercanos</label>
  </section>
</article>
