@import url("/src/components/commons/header/header.css");
@import url("/src/components/commons/footer/footer.css");
@import url("/src/components/commons/input/input.css");
@import url("/src/components/commons/layout/grid-container.css");

.wrapper{
    /*Layout*/
    display: grid;
    min-width: 35rem;
    width: 100vw;
    height: 100vh;
        
    grid-template-rows: 6rem auto auto 6rem;
    grid-template-areas: 
        "header"
        "aside"
        "content"
        "footer";
}

.wrapper--search{    
    /*Layout*/
    grid-template-rows: 6rem 5.2rem auto auto 6rem;
    grid-template-areas: 
        "header"
        "search"
        "aside"
        "content"
        "footer";
}

.wrapper--no-aside{
    /*Layout*/
    grid-template-rows: 6rem auto 6rem;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

.wrapper--no-header{
    grid-template-rows: auto 6rem;
    grid-template-areas: 
        "content"
        "footer";  
}

.wrapper__header{
    /*Layout*/
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    z-index: 99;
    /*styles*/
    background-image: var(--gradient-primary);
}

.wrapper__search{
    /*Layout*/
    grid-area: search;
    padding: 0.5em var(--box-padding);
    /*styles*/
    background-color: var(--color-terciary);
}

.wrapper__aside,
.wrapper__main-content{
    display: flex;
    padding: var(--box-padding);
    align-items: flex-start;
}

.wrapper__main-content--no-header,
.wrapper__main-content--no-aside{
    align-items: center;
    justify-content: center;
}

.wrapper__aside{
    /*Layout*/
    justify-content:center;
    grid-area: aside; 
    /*styles*/
    background-color: var(--color-clear-medium);
}

.wrapper__main-content{
    /*Layout*/
    grid-area: content;
    /*styles*/
    background-color: var(--color-terciary-complementary-lighter);
}

.wrapper__footer{
    /*Layout*/
    grid-area: footer;
    /*styles*/
    background-color: var(--color-secondary);
}

@media screen and (min-width:769px){
    .wrapper{
        /*Layout*/
        grid-template-columns: max(20rem, 20vw) auto;
        grid-template-rows: 6rem auto 6rem;
        grid-template-areas: 
            "header header"
            "aside content"
            "footer footer";
    }
      
    .wrapper--search{
        /*Layout*/
        grid-template-columns: max(20rem, 20vw) auto;
        grid-template-rows: 6rem 5.2rem auto 6rem;
        grid-template-areas: 
            "header header"
            "search search"
            "aside content"
            "footer footer";
    }

    .wrapper--no-aside{
        /*Layout*/
        grid-template-columns: auto;
        grid-template-rows: 6rem auto 6rem;
        grid-template-areas: 
            "header"
            "content"
            "footer";
    }

    .wrapper--no-header{
        /*Layout*/
        grid-template-columns: auto;
        grid-template-rows: auto 6rem;
        grid-template-areas: 
            "content"
            "footer";
    }
    .wrapper__main-content{
        overflow-y: scroll;
    }
}
