<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../styles/styles.css">
  <link rel="stylesheet" href="layout.css">
  <title>Layout</title>
</head>

<body>  
  <div class="wrapper wrapper--search">  <!--Borrar wrapper--search si tu web no tiene search-->
    <section class="wrapper__header">
      <header class="header-main">
        <section class="header-main__logo">
          <figure class="logo">
            <img class="logo__img" src="/html/src/images/logo-icon.png" alt="WorldCapp Logotipo"></img>
            <section class="logo__text">
              <span class="logo__first-part">world</span><span class="logo-center-dot">.</span><span
                class="logo__last-part">capp</span>
            </section>
          </figure>
        </section>
        <section class="header-main__navbar">
          <section class="header-main__web">
            <nav class="navbar--tabs">
              <ul class="navbar__buttons">
                <li class="button--text"><a class="button__link" href="">Figuritas</a></li>
                <li class="button--text"><a class="button__link" href="">Sobres</a></li>
                <li class="button--text"><a class="button__link" href="">Perfil</a></li>
                <li class="button--icon"><a class="button__link" href=""><i class="fa-solid fa-right-from-bracket"></i></a></li>
              </ul>
            </nav>
          </section>
          <section class="header-main__mobile">
            <div class="button--icon">
              <a class="button__link" href="">
                <i class="fa-solid fa-bars"></i>
              </a>
            </div>
          </section>
        </section>
      </header>
    </section>
    
    <section class="wrapper__search">
      <form class="form form--search" autocomplete="off">
        <section class="form__row">
          <input name="search" class="form__input--icon-right" type="text" placeholder="Buscar:" />
          <i class="form__icon--right fa-solid fa-magnifying-glass"></i>
        </section>
      </form>
    </section>
    
    <section class="wrapper__aside">ASIDE</section>
    
    <section class="wrapper__main-content">ARTICLE</section>
    
    <section class="wrapper__footer">      
      <footer class="footer-main">    
        <div class="footer-main__navbar">
          <nav class="navbar--icon">
            <ul class="navbar__buttons">
              <li class="button--circle">
                <a class="button__link" href="">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li class="button--circle">
                <a class="button__link" href="">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li class="button--circle">
                <a class="button__link" href="">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li class="button--circle">
                <a class="button__link" href="">
                  <i class="fa-brands fa-at"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>    
        <div class="footer-main__logo">          
          <figure class="logo">
            <img class="logo__img" src="/html/src/images/logo-icon.png" alt="WorldCapp Logotipo"></img>
            <section class="logo__text">
              <span class="logo__first-part">world</span><span class="logo-center-dot">.</span><span class="logo__last-part">capp</span>
            </section>
          </figure>        
        </div>    
      </footer>
    </section>
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>