
  <article class="player-card player-card--trash">
    <section class="player-card__img">
      <!-- TODO: ver como implementar la imagen --> 
      <img src="/html/src/images/pity.png"/>
      <li class="button--icon">
        <a class="button__link" href="">
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </li>
    </section>
    <section class="player-card__content">
      <header class="player-card__header">
        <!-- TODO: implementar pipes -->
        <h2>{{ card.name | concatenate: card.surname }}</h2>
        <h2><i class="fas fa-id-badge fa-sm"></i> {{card.figureNumber}}</h2>
        <h2>
          <i class="fas fa-trophy fa-sm"></i>
          <i class="fas fa-fire fa-sm"></i>
          <i class="fas fa-star fa-sm"></i>
          {{card.baseValoration}}
        </h2>
        <p>
          <i class="fa-solid fa-weight-scale fa-sm"></i
          ><strong> Peso:</strong> {{card.weight}}
        </p>
        <p>
          <i class="fas fa-ruler-vertical fa-sm"></i
          ><i class="fas fa-person fa-sm"></i><strong> Altura:</strong> {{card.age}}
          metros
        </p>
      </header>
      <section class="player-card__body">
        <p><strong>Casaca: </strong>{{card.shirtNumber}}</p>
        <!-- TODO: formatear fecha --> 
        <p><strong>Nacimiento: </strong>{{ card.birth | date:'dd-MM-yyyy' }}</p>
        <p><strong>Selección: </strong> {{card.nationalTeam}}</p>
        <p><strong>Posición: </strong> {{card.positon}}</p>
        <h2 class="player-card__body--highlight">COTIZACION: {{card.quote}}</h2>
      </section>
      <footer *ngIf="cardType === 'owner'" class="player-card__footer">
        <!-- TODO: agregar pipe para el tipo de moneda -->
        <h2>CEDIDA POR:</h2>
        <p>{{card.owner}}</p>
      </footer>
    </section>
</article>
