
  <article class="player-card player-card--trash">
    <section class="player-card__img">
      <!-- TODO: ver como implementar la imagen --> 
      <img src="/html/src/images/pity.png"/>
      <li class="button--icon">
        <a class="button__link" href="">
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </li>
    </section>
    <section class="player-card__content">
      <header class="player-card__header">
        <!-- TODO: implementar pipes -->
        <h2>{{ player?.name + ' ' + player?.surname }}</h2>
        <h2><i class="fas fa-id-badge fa-sm"></i> {{card?.cardProps?.figureNumber}}</h2>
        <h2>
          <i class="fas fa-trophy fa-sm"></i>
          <i class="fas fa-fire fa-sm"></i>
          <i class="fas fa-star fa-sm"></i>
          {{card?.baseValoration}}
        </h2>
        <p>
          <i class="fa-solid fa-weight-scale fa-sm"></i
          ><strong> Peso:</strong> {{player?.weight}}
        </p>
        <p>
          <i class="fas fa-ruler-vertical fa-sm"></i
          ><i class="fas fa-person fa-sm"></i><strong> Altura:</strong> {{player?.age}}
          metros
        </p>
      </header>
      <section class="player-card__body">
        <p><strong>Casaca:</strong>{{player?.shirtNumber}}</p>
        <p><strong>Nacimiento:</strong>{{player?.birth }}</p>
        <p><strong>Selección:</strong> {{player?.nationalTeam}}</p>
        <p><strong>Posición:</strong> {{player?.positon}}</p>
      </section>
      <footer class="player-card__footer">
        <h2 class="player-card__body--highlight">COTIZACION:{{player?.quote}}</h2>
      </footer>
    </section>
</article>
