
  <article class="player-card player-card--trash">
    <section class="player-card__img">
      <!-- TODO: ver como implementar la imagen --> 
      <img src="/html/src/images/pity.png"/>
      <li class="button--icon">
        <a class="button__link" href="">
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </li>
    </section>
    <section class="player-card__content">
      <header class="player-card__header">
        <!-- TODO: implementar pipes -->
        <h2>{{ props.name + ' ' + props.surname }}</h2>
        <h2><i class="fas fa-id-badge fa-sm"></i> {{props.figureNumber}}</h2>
        <h2>
          <i class="fas fa-trophy fa-sm"></i>
          <i class="fas fa-fire fa-sm"></i>
          <i class="fas fa-star fa-sm"></i>
          {{card.baseValoration}}
        </h2>
        <p>
          <i class="fa-solid fa-weight-scale fa-sm"></i
          ><strong> Peso:</strong> {{props.weight}}
        </p>
        <p>
          <i class="fas fa-ruler-vertical fa-sm"></i
          ><i class="fas fa-person fa-sm"></i><strong> Altura:</strong> {{props.age}}
          metros
        </p>
      </header>
      <section class="player-card__body">
        <p><strong>Casaca:</strong>{{props.shirtNumber}}</p>
        <p><strong>Nacimiento:</strong>{{props.birth }}</p>
        <p><strong>Selección:</strong> {{props.nationalTeam}}</p>
        <p><strong>Posición:</strong> {{props.positon}}</p>
      </section>
      <footer class="player-card__footer">
        <!-- TODO: agregar pipe para el tipo de moneda -->
        <h2 class="player-card__body--highlight">COTIZACION:{{props.quote}}</h2>
      </footer>
    </section>
</article>
