<article class="user-card">
  <img src="https://www.infobae.com/new-resizer/MQBzwcl--Jgxfm53chAmEYTm6V4=/arc-anglerfish-arc2-prod-infobae/public/PPHDXSRNQKYLGBP6WNPLD6S7DM.jpg"  class="user-card__image">
  <section class="user-card__data">
    <section class="user-card__data-name">
      <section class="user-card__editable" *ngIf="!isEditing">
        <p data-testid="initialUsername">{{ userInfo.username }}</p>
        <button data-testid="edit-button" class="button button--icon button--black" *ngIf="!isEditing" (click)="startEdit()">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </section>
      <section class="user-card__new-name" *ngIf="isEditing">
        <form class="user-card__form">
          <input data-testid="edit-input" name="primary" class="form__input--card-user" type="text" placeholder="Ingrese nuevo nombre..." [(ngModel)]= "editedUsername" [ngClass]="{'invalid-input': !inputIsValid()}" (keyup.escape)="cancelEdit()" />
          <button data-testid="save-button" class="button button--icon button--black" (click)="saveUsername()" [disabled]="!inputIsValid()" [ngClass]="{'invalid-button': !inputIsValid()}">
            <i class="fa-solid fa-check"></i>
          </button>
        </form>
        <div *ngIf="isEmpty()" class="user-card__validation-message">El campo no debe estar vacío.</div>
        <div *ngIf="!isUnderTheTop()" class="user-card__validation-message">Excede el límite de {{ LIMIT }} caracteres.</div>
      </section>
    </section>
    <section class="user-card__personal">
      <p data-testid="initialAge"><strong>Edad: </strong>{{ userInfo.age }}</p>
      <p data-testid="initialLocation"><strong>Ubicacion: </strong>{{ userInfo.location }}</p>
    </section>      
  </section>
</article>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>