<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Logo</title>
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="logo.css">
</head>
<body>
  <figure class="logo">
    <img class="logo__img" src="/src/images/logo-icon.png" alt="WorldCapp Logotipo"></img>
    <section class="logo__text">
      <span class="logo__first-part">world</span><span class="logo-center-dot">.</span><span class="logo__last-part">capp</span>
    </section>
  </figure>
</body>
</html>