@import url('../logo/logo.css');
@import url('../navbar/navbar.css');
@import url('../button/button.css');


.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 100%;
  box-shadow: var(--box-shadow);
  font-size: 3.5rem;
  background-image: var(--gradient-primary);
}

.header-main__web{
  display: none;
}

.header-main__navbar{
  font-size: 0.7em;
}

.header-main__navbar .navbar__buttons{
  gap: 1.2em;
}

.header-main__navbar .button__link{
  color: var(--typeface-color);
}

.header-main__navbar .button__link--active{
  color: var(--color-focus);
}

@media screen and (min-width:768px) {
  .header-main__web {
    display: flex;
  }

  .header-main__mobile {    
    display: none;
  }
}