@import url(/src/components/commons/logo/logo.css);
@import url(/src/components/commons/button/button.css);
@import url(/src/components/commons/navbar/navbar.css);

.footer-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 99;
  font-size: 2rem;  
}