<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/styles/styles.css">
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <footer class="footer-main">        
        <nav class="social-media">
            <a class="circle icon">
                <i class="fa-brands fa-facebook-f fa-sm"></i>
            </a>
            <a class="circle icon">
                <i class="fa-brands fa-instagram fa-sm"></i>
            </a>
            <a class="circle icon">
                <i class="fa-brands fa-twitter fa-sm"></i>
            </a>
            <a class="circle icon">
                <i class="fa-brands fa-at fa-sm"></i>
            </a>
        </nav>

        <figure class="logo">
            <img class="logo__img" src="/src/images/logo-icon.png" alt="WorldCapp Logotipo"></img>
            <section class="logo__text">
              <span class="logo__left-text">world</span><span class="logo__center-dot">.</span><span class="logo__right-text">capp</span>
            </section>
        </figure>
    </footer>    
</body>
</html>