<footer class="footer-main">
  <section class="footer-main__navbar">
    <nav class="navbar--icon">
        <a href="https://www.facebook.com" target="_blank">
          <button class="button button--icon button--circle button--animated button--shadows">
            <i class="fa-brands fa-facebook-f"></i>
          </button>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <button class="button button--icon button--circle button--animated button--shadows">
            <i class="fa-brands fa-instagram"></i>
          </button>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <button class="button button--icon button--circle button--animated button--shadows">
            <i class="fa-brands fa-twitter"></i>
          </button>
        </a>
        <a href="https://www.gmail.com" target="_blank">
          <button class="button button--icon button--circle button--animated button--shadows">
            <i class="fa-brands fa-at"></i>
          </button>
        </a>
    </nav>
  </section>

  <section class="footer-main__logo">
    <app-logo/>
  </section>
</footer>
