<!doctype html>

<header class="header-main">
  <section class="header-main__logo">
    <app-logo />
  </section>
  <section class="header-main__navbar-container">
    <button
      data-testid="button-mobile-open"
      class="header-main__button-mobile button button--icon fa-solid fa-bars"
      (click)="onDropDown()"
      *ngIf="!isDropDown"
    ></button>
    <nav
      data-testid="navbar"
      class="header-main__navbar"
      [ngClass]="{ 'header-main__menu-active': isDropDown }"
    >
      <button
        (click)="onDropDown()"
        class="header-main__button-mobile button button--icon fa-solid fa-xmark"
      ></button>
      <ul class="header-main__list-buttons">
        <li class="header-main__list-btn" [ngClass]="{ 'activated': isDropDown }">
          <!-- TODO: preguntar sobre diferencias entre aplicar tag a o button -->
          <button class="header-main__button-link button button--text button--animated" href="">Figuritas</button>
        </li>
        <li class="header-main__list-btn" [ngClass]="{ 'activated': isDropDown }">
          <button class="header-main__button-link button button--text button--animated" href="">Sobres</button>
        </li>
        <li class="header-main__list-btn" [ngClass]="{ 'activated': isDropDown }">
          <button class="header-main__button-link button button--text button--animated" href="">Perfil</button>
        </li>
        <li class="header-main__list-btn" [ngClass]="{ 'activated': isDropDown }">
          <button class="header-main__button-link button button--icon button--animated" href=""
            ><i class="fa-solid fa-right-from-bracket fa-rotate-180"></i
          ></button>
        </li>
      </ul>
    </nav>
  </section>
</header>
