.header-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 100%;
  font-size: 3.5rem;
  box-shadow: var(--box-shadow-xs);
  background-image: var(--gradient-primary);
}

.header-main__navbar-container{
  font-size: 0.7em;
}

.header-main__navbar-mobile{
  opacity: 0;
  transition: opacity 7s ease;
}

.header-main__navbar-mobile.header-main__burger-active{
  position: absolute;
  width: 100%;
  height: 100px;
  top: 100%;
  left: 0;
  background-color: gray;
  opacity: 1;
}

@media screen and (min-width:768px) {
  .header-main__web {
    display: flex;
  }

  .header-main__burger{
    display: none;
  }

  .header-main__navbar-mobile{
    all: unset;
  }
}