<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="./header.css">
  <title>Header</title>
</head>
<body>
  <header class="header-box">
    <!-- ESTRUCUTRE COMPONENT LOGO -->
    <figure class="header-box--logo logo">
      <img src="../../../images/logo.png" alt="WorldCapp"></img>
      <div class="logo-text">
        <span class="first-part">world</span><span class="center-dot">.</span><span class="last-part">capp</span>
      </div>
    </figure>
    <!-- ESTRUCUTRE COMPONENT LOGO -->
    <nav class="header-box--navbar">
      <button class="navbar-burger-button"></button>
      <ul class="burger-button-list">
        <a class="list-item --card">figuritas</a>
        <a class="list-item --packs">sobres</a>
        <a class="list-item --profile">perfil</a>
        <i class="list-item --logout fa-solid fa-right-from-bracket"></i>
      </ul>
    </nav>
  </header>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>