@import url(../logo/logo.css);

.header-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
  height: auto;
  gap: 2rem;
  z-index: 99;
  box-shadow: var(--box-shadow-xs);
  background-image: var(--gradient-primary);
}

.header-main__menu{
  display: flex;
  font-size: 3.5em;
  align-items: center;
  justify-content: space-between;
}

.header-main__burger-menu,
.header-main__text-menu{
  list-style: none;
}

.header-main__text-menu{
  display: none;
}

.header-main__text-menu .button--text,
.header-main__text-menu .button--icon,
.header-main__burger-menu .button--icon{
    font-size: 0.7em;
}


.header-main__search{
  display: flex;
  flex-direction: column;
  justify-content: center;
}