<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="./header.css">
  <title>Header</title>
</head>
<body>
  <header class="header-main">
    <section class="header-main__logo">
      <figure class="logo">
        <img class="logo__img" src="/src/images/logo-icon.png" alt="WorldCapp Logotipo"></img>
        <section class="logo__text">
          <span class="logo__first-part">world</span><span class="logo-center-dot">.</span><span class="logo__last-part">capp</span>
        </section>
      </figure>
    </section>
    <section class="header-main__navbar">
      <nav>
        <ul>
          <li class="button--text">Figuritas</li>
          <li class="button--text">Sobres</li>
          <li class="button--text">Perfil</li>
          <li class="button--icon"><i class="fa-solid fa-right-from-bracket"></i></li>
        </ul>
      </nav>
      <nav class="main-header__burguer">
        <li class="button--icon"><i class="fa-solid fa-bars"></i></li>
      </nav>
    </section> 
    
    
  </header>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>