@import url(/src/components/commons/logo/logo.css);
@import url(/src/components/commons/navbar/navbar.css);
@import url(/src/components/commons/button/button.css);


.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 100%;
  z-index: 99;
  box-shadow: var(--box-shadow-xs);
  background-image: var(--gradient-primary);
  font-size: 3.5rem;
}

.header-main__web{
  display: none;
}

.header-main__navbar{
  font-size: 0.7em;
}

.header-main__navbar .navbar__buttons{
  gap: 1.2em;
}

@media screen and (min-width:768px) {
  .header-main__web {
    display: flex;
  }

  .header-main__mobile {    
    display: none;
  }
}

/* .header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
  height: auto;
  gap: 2rem;
  z-index: 99;
  font-size: 0.8rem;
}

.header-box--logo.logo{
  font-size: 3em;
}

.header-main__menu {
  display: flex;
  font-size: 3.5em;
  align-items: center;
  justify-content: space-between;
}

.header-main__burger-menu-items,
.header-main__text-menu-items {
  display: flex;
  
  list-style: none;  
}

.header-main__text-menu {
  display: none;
}


@media (min-width: 769px){
  .navbar-burger-button{
    background-image: none;
  }
  .header-box--navbar{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0 3rem 0 3rem;
  }
  .burger-button-list{
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 2.5em;
    list-style: none;
  }
}

.header-main__text-menu .button--text {
  margin-right: 1em;
}


.header-main__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-terciary);
}

.main-header__search form {
  min-width: 70vw;
}

@media screen and (min-width:768px) {
  .header-main__text-menu {
    display: flex;
  }

  .header-main__burger-menu {    
    display: none;
  }
} */