@import url(../logo/logo.css);
@import url(../../../styles/styles.css);

.header-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 7rem;
  background-color: var(--primary-color);
}
.header-box--logo.logo{
  font-size: 3em;
  margin-left: 0.5em;
}

/*TODO: PARAMETRIZAR EL COLOR DEL SVG DEL MENU HAMBURGUESA*/
.header-box--navbar{
  width: 3.5em;
  height: 3.5em;
  background: url(../../../images/nav-bar-start.svg) center/cover no-repeat;
  margin-right: 1.5em;
}

.navegation-list{
  display: none;
}


@media (min-width: 769px){
  .header-box--navbar.--responsive{
    display: flex;
    align-items: center;
    background-image: none;
    width: fit-content;
  }
  .navegation-list{
    display: flex;
    gap: 2em;
    list-style: none;
    font-size: 2em;
  }
}