<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Header</title>
</head>
<body>
  <head class="header-box">
    <div class="header-box--logo logo">
      <img src="../../../images/logo.png" alt="WorldCapp"></img>
      <div class="logo-text">
        <span class="first-part">world</span><span class="center-dot">.</span><span class="last-part">capp</span>
      </div>
    </div>
    <nav class="header-box--navbar --responsive">
      <ul class="navegation-list">
        <li class="list-item --card"></li>
        <li class="list-item --packs"></li>
        <li class="list-item --profile"></li>
        <li class="list-item --logout"></li>
      </ul>
    </nav>
  </head>
</body>
</html>