<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Bar</title>
  <link rel="stylesheet" href="search.css">  
</head>
<body>
  <div class="container">
    <nav class="search-bar">
      <form action="/search" method="get">
        <input type="text" name="main-search" placeholder="Buscar" class="input--search"/>
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
    </nav>
  </div>
  <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>  
</body>
</html>