.field__icon {
  /*Layout*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2.8em;
  height: 100%;
  left: 0;
  bottom: 0;  
  /*Visual*/
  background-color: var(--color-primary);  
  cursor: text;      
  /*Animation*/
  transition: background-color var(--transition-time) ease;
}

.field__icon--focused {
  background-color: var(--color-focus);
}

.field__icon--icon-right {  
  left: unset;
  right: 0;
}

.field__icon::before{
  color: var(--typeface-color);
  font-size: 1.4em;  
}

::ng-deep .field:focus + .field__icon {
  background-color: var(--color-focus)
}

