<app-input-field
  [attr.input]="onChangeEvent()"
  [label]="label"
  [name]="name"
  [value]="value"
  [class]="class"
  [autofocus]="autofocus"
  [tabindex]="tabindex"
  [attr.testid]="testid"
  [attr.icon]="icon"
  [placeholder]="placeholder"
  [type]="type"
  [error]="error"
  [min]="min"
  [max]="max"
  (onchange)="dataInput($event)"
>
  
<i *ngIf="buttonOn; else buttonOff" iconElement [class]="iconCSS()" (click)="clickAction()"></i>
<ng-template #buttonOff>
  <i iconElement [class]="iconCSS()" ></i>
</ng-template>
  
</app-input-field>
