<nav class="navbar--tabs">
  <ul class="navbar__buttons">
    <li class="button button--text button--animated">
      <a class="navbar__button-link button--text" href="">Figuritas</a>
    </li>
    <li class="button button--text button--animated">
      <a class="navbar__button-link button--text" href="">Sobres</a>
    </li>
    <li class="button button--text button--animated">
      <a class="navbar__button-link button--text" href="">Perfil</a>
    </li>
    <li class="button button--icon button--animated">
      <a class="navbar__button-link button--text" href=""
        ><i class="fa-solid fa-right-from-bracket"></i
      ></a>
    </li>
  </ul>
</nav>
