.navbar__buttons{
  display: flex;
  align-items: center;
  gap: 1.2em;
  list-style: none;
}
.navbar__buttons .button{
  min-width: unset;
  font-size: inherit;
}
.navbar__button-link{
  text-decoration: none; 
}

.navbar__button-link--active{
  color: var(--color-focus);
}