.test__container--button {
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  max-width: 400px;
  padding: 1em;
  /*Visual*/
  background-color: var(--color-clear);
}

.button--primary,
.button--secondary,
.button--text,
.button--tab-on,
.button--tab-off {
  /*Layout*/
  padding: 0 1.4rem;
  line-height: 4.4rem;
}

.button--primary,
.button--secondary,
.button--text,
.button--icon,
.button--circle,
.button--tab-on,
.button--tab-off {
  /*Visual*/
  cursor: pointer;
}

.button--primary,
.button--secondary,
.button--text,
.button--tab-on,
.button--tab-off {
  /*Typeface*/
  font-family: var(--primary-font);
  font-weight: 800;
}

.button--primary,
.button--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  /*Visual*/
  border: 1px solid var(--color-highligthed);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-2xs);
}

.button--primary,
.button--circle .button__link{
  /*Visual*/
  color: var(--typeface-color);
}

.button__link--active{
  color: var(--color-focus);
}

.button--primary {
  /*Visual*/
  background-color: var(--color-highligthed);
}

.button--secondary{
  background-color: var(--color-focus-lighter);
  color: var(--color-highligthed)
}

.button--circle {
  /*Visual*/
  background-color: var(--color-primary);
}

.button--tab-on {
  /*Visual*/
  background-color: var(--color-clear-dark);
  color: var(--color-primary);
}

.button--tab-on,
.button--tab-off {
  /*Visual*/
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  border: none;
  text-align: center;
  font-size: 1.5em;
  list-style: none;
}

.button--tab-off {
  /*Visual*/
  background-color: var(--color-clear-2dark);
  color: var(--text-color-lighter);
}

.button--circle,
.button--text,
.button--icon{
  list-style: none;
  margin: 0 auto;  
}

.button__link,
.button__link--active,
.button__text{
  color: var(--color-primary);
  text-decoration: none;
}

.button--circle{
  /*Layout*/
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  /*Typeface*/
  line-height: 1.5em;
  text-align: center;
}

.button--text{
  /*Layout*/  
  padding: 0.1em;
}

.button--primary:hover,
.button--secondary:hover,
.button--icon:hover,
.button--text:hover,
.button--circle:hover{
  /*Layout*/
  transform: translateY(-0.2em);
  /*Animation*/
  transition: all var(--transition-time) ease;
}

.button--primary:hover,
.button--secondary:hover{
  /*Visual*/
  background-color: var(--color-focus);
  box-shadow: var(--box-shadow-md);
}

.button--circle:hover {
  /*Visual*/
  background-color: var(--color-tertiary);
  box-shadow: var(--box-shadow-md);
}

.button--primary:hover,
.button--secondary:hover {
  /*Visual*/
  border: 1px solid var(--color-focus);
}

.button--text .button__link:hover,
.button--icon .button__link:hover {
  /*Visual*/
  color: var(--color-tertiary);
}

.button--secondary:hover {
  /*Visual*/
  color: var(--color-clear);
}

.button--disabled {
  pointer-events: none;
  cursor:not-allowed;  
}