/* CSS HSL */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800&family=Roboto&display=swap');

:root {
  /* Colores */
  --hot-color: hsla(0, 70%, 50%, 1);
  --hover-color: hsla(30, 88%, 48%, 1);
  --focus-color: hsla(35, 95%, 62%, 1);
  --floral-white: hsla(32, 100%, 97%, 1);
  --raisin-black: hsla(254, 21%, 12%, 1);
  --primary-color: hsla(180, 38%, 46%, 1);
  --secondary-color: hsla(199, 33%, 38%, 1);
  --terciary-color: hsla(245, 27%, 29%, 1);

  /* Fuentes */
  --primary-font: 'Mulish', 'Open Sans', 'Verdana', 'sans-serif';
  --secondary-font: 'Roboto', 'Open Sans', 'Verdana','sans-serif';

  /* Border Radius */
  --border-radius-xs: 0.5em;
  --border-radius-md: 1em;
  --border-radius-xl: 1.5em;

  /* Box Shadow */
  --box-shadow-xs: 0.0em 0.1em 1em rgba(0, 0, 0, 0.2);
  --box-shadow-md: 0.2em 0.4em 0.5em rgba(0, 0, 0, 0.5);
  --box-shadow-xl: 0.5em 0.5em 2em rgba(0, 0, 0, 0.4);
}
 
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 10px;
  color: var(--raisin-black)
}