/* CSS HSL */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

:root {
  /*#ff8811*/
  --ut-orange: hsla(30, 100%, 53%, 1);
  /*#f4d06f*/
  --jasmine: hsla(44, 86%, 70%, 1);
  /*#fff8f0*/
  --linen: hsla(30, 100%, 96%, 1);
  /*#48a9a6*/
  --verdigris: hsla(178, 40%, 47%, 1);
  /*#392f5a*/
  --space-cadet: hsla(254, 31%, 27%, 1);
  --primary-font: 'Mulish', 'Open Sans', 'Verdana', 'sans-serif';

  /* 
    POSIBLE ALTERNATIVA A LA PALETA ORIGINAL SI NO FUNCIONA
    --tangerine: hsla(30, 88%, 48%, 1);
    --orange-web: hsla(35, 95%, 62%, 1);
    --floral-white: hsla(32, 100%, 97%, 1);
    --raisin-black: hsla(254, 21%, 12%, 1);
    --verdigris: hsla(180, 38%, 46%, 1);
    --paynes-gray: hsla(199, 33%, 38%, 1);
    --space-cadet: hsla(245, 27%, 29%, 1); 
  */

}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}