<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/html/src/styles/styles.css">
  <link rel="stylesheet" href="/html/src/components/commons/layout/grid-container.css">
  <link rel="stylesheet" href="profile-user.css">
  <title>Perfil de Usuario</title>
</head>

<body class="body-form">
  <nav class="form-info__nav">
    <ul class="navbar__buttons">
      <li class="button--icon button--disabled">
        <a class="button__link" href="#">
          <i class="fa-solid fa-chevron-left" style="color:var(--typeface-color)"></i>
        </a>
      </li>        
      <button class="button--tab-on"><a class="button__link" href="/html/src/components/profile-user/profile-user.html">Perfil Usuario</a></button>
      <button class="button--tab-off"><a class="button__link" href="/html/src/components/profile-user/duplicate-stickers.html">Figuritas Repetidas</a></button>
      <button class="button--tab-off"><a class="button__link" href="/html/src/components/profile-user/missing-stickers.html">Figuritas Faltantes</a></button>
      <li class="button--icon">
        <a class="button__link" href="/html/src/components/profile-user/duplicate-stickers.html">
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </nav>      
  <form class="form-info" autocomplete="off">       
    <article class="form-info__body">
      <h2 class="form__title">Información general</h2>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Nombre</label>
        <input name="primary" class="form__input--primary" type="text" placeholder="Ingrese Nombre" />
      </section>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Apellido</label>
        <input name="primary" class="form__input--primary" type="text" placeholder="Ingrese Apellido" />
      </section>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Correo electrónico</label>
        <input name="primary" class="form__input--primary" type="email" placeholder="Ingrese Correo" />
      </section>      
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Fecha de nacimiento</label>
        <input name="secondary" class="form__input--primary" type="date" placeholder="Ingrese Fecha de Nacimiento" />
      </section>
      <h2 class="form__title">Dirección</h2>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Provincia</label>
        <select class="form__select">
          <option>Seleccione una opción</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
          <option>Opción 3</option>
        </select>
      </section>      
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Localidad</label>
        <select class="form__select">
          <option>Seleccione una opción</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
          <option>Opción 3</option>
        </select>
      </section>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Calle</label>
        <input name="primary" class="form__input--primary" type="text" placeholder="Ingrese Calle" />
      </section>      
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Altura</label>
        <input name="primary" class="form__input--primary" type="number" min="0" placeholder="Ingrese Altura" />
      </section>
      <h2 class="form__title">Ubicación Geográfica</h2>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Latitud</label>
        <input name="primary" class="form__input--primary" type="number" placeholder="Ingrese Latitud" />
      </section>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Longitud</label>
        <input name="primary" class="form__input--primary" type="number" placeholder="Ingrese Longitud" />
      </section>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Distancia máxima de cercanía para intercambio</label>
        <input name="primary" class="form__input--primary" type="number" min="0" placeholder="Ingrese Distancia Máxima" />
      </section>
      <h2 class="form__title">Criterio para el intercambio</h2>
      <section class="form__row form__row--2col">
        <label class="form__row-subtitle">Criterio</label>
        <select class="form__select">
          <option>Seleccione una opción</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
          <option>Opción 3</option>
        </select>
      </section>
    </article>
    <footer class="form-info__actions">
      <button class="button--secondary">Resetear</button>
      <button class="button--primary">Guardar</button>
    </footer>
  </form>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>

</html>