@import url('../commons/input/input.css');
@import url('../commons/button/button.css');
@import url('../commons/navbar/navbar.css');
@import url('../card/card.css');

.form-info,
.form-info__nav,
.form-info__body,
.form-info__actions{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.form-info__nav{
  border: none;
}

.form-info{
  /*Layout*/
  width: 100%;
  min-width: 32rem;
  min-height: 50vh;
  /*Visual*/
  background-color: var(--color-clear);
  color: var(--text-color);
}

.form-info__body {
  /*Layout*/
  position: relative;
  padding: 0 var(--box-padding) var(--box-padding);
  gap: 0.3em;
  width: 100%;
  /*Visual*/
  background-color: var(--color-clear-dark);
  border-radius: var(--border-radius-md);
}

.form-info__nav .button__link i{
  color: var(--text-color)
}

/* .form-info__body-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding-top: var(--box-padding);
  gap: var(--box-padding);
  width: 100%;
  border-radius: var(--border-radius-md);
} */

.form-info__actions {
  /*Layout*/
  width: 100%;
  min-height: 100%;
  align-items: center;
  padding: var(--box-padding);
  gap: 0.6em;
  /*Visual*/
  background-color: var(--color-clear-dark);
}

.form-info__body .form__title {
  /*Visual*/
  text-align: start;
  color: var(--text-color-medium);
}

.form-info__body .form__title{
  /*Layout*/
  width: 100%;
  padding-top: var(--box-padding);
}

.form-info__nav .button--tab-on {
  /*Layout*/
  min-width: 65vw;
  /*Typeface*/
  font-size: 1.6em;
  /*Visual*/
  cursor: default;  
}

.form-info__nav .button--tab-off {
  display: none;
}

.form-info__nav .button--tab-on {
  /*Layout*/
  min-width: 65vw;
  /*Typeface*/
  font-size: 1.6em;
  /*Visual*/
  cursor: default;
}

.form-info__nav i {
  /*Layout*/
  padding: 1em;
  /*Typeface*/
  font-size: 1.5em;
  /*Visual*/
  color: var(--text-color);
}

.form-info__actions .button--primary, 
.form-info__actions .button--secondary {
  /*Layout*/
  flex-basis: 100%;
}

.form-info__actions .button--circle {
  background-color: var(--color-terciary);
  font-size: 3em;
}

.form-info__actions--button-circle-container{
  position: sticky;
  width: auto;
  height: auto;
  padding: 0;
  z-index: 81;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
}

.form-info__actions .button--circle:hover {
  background-color: var(--color-focus);
}

@media (min-width: 600px) {
  .form-info__actions{
    gap: var(--box-padding);
  }
  
  .form-info__actions .button--primary,
  .form-info__actions .button--secondary{
    flex-basis: 18em;    
  }  
  
  .form-info__body{    
    column-gap: var(--box-padding);
    justify-content: left;
  }
}

@media (min-width: 769px) {
  .form-info{
    margin-top: 0;
  }
  
  .form-info__actions{
    border-radius: 0 0 var(--box-padding) var(--box-padding);
  }
  
  .form-info__nav .button--tab-on,
  .form-info__nav .button--tab-off {
    min-width: 20vw;
    cursor: pointer;
  }
  
  .form-info__nav .button--icon {
    display: none;
  }  

  .form-info__nav .button--tab-off  {
    display: inline;
  }
}