<nav class="form-info__nav">
  <ul class="navbar__buttons">
    <li class="button--icon button--disabled">
      <button class="button__link fa-solid fa-chevron-left"></button>
    </li>
    <li [routerLink]="['/perfil/perfil-usuario']" class="button--tab-on">Información General</li>
    <li [routerLink]="['/perfil/figuritas-repetidas']" class="button--tab-off">Figuritas Repetidas</li>
    <li [routerLink]="['/perfil/figuritas-faltantes']" class="button--tab-off">Figuritas Faltantes</li>
    <li class="button--icon">
      <button class="button__link fa-solid fa-chevron-right"></button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
