<nav class="form-info__nav">
  <ul class="navbar__buttons">
    <li class="button--icon button--disabled">
      <a class="button__link" href="#">
        <i class="fa-solid fa-chevron-left" style="color:var(--typeface-color)"></i>
      </a>
    </li>        
    <li class="button--tab-on">
      <a class="button__link" href="/src/components/profile-user/profile-user.html">Información General</a>
    </li>
    <li class="button--tab-off">
      <a class="button__link" href="/src/components/profile-user/duplicate-stickers.html">Figuritas Repetidas</a>
    </li>    
    <li class="button--tab-off">
      <a class="button__link" href="/src/components/profile-user/missing-stickers.html">Figuritas Faltantes</a>
    </li> 
    <li class="button--icon">
      <a class="button__link" href="/html/src/components/profile-user/duplicate-stickers.html">
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</nav>      
<ng-content select="selector">
  
</ng-content>
