<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./input-login.css">
    <title>Document</title>
  </head>
  <body>

    <form class="form --username">
      <div class="container-icon --user"></div>
      <input class="input" type="text" placeholder="Usuario">
    </form>

    <form class="form --password">
        <div class="container-icon --password"></div>
        <input class="input" type="text" placeholder="Contraseña" />
    </form>
  </body>
</html>
