<!DOCTYPE html>
<article class="home home--header-on">
  <section class="home__content home__content--grid">
      <article class="player-card">
        <section class="player-card__content">
          <header class="player-card__header detail-card__header">
            <h2 class="detail-card__header-title">
              {{ card.name | concatenate : card.surname }}
            </h2>
            <h3>
              <small class="detail-card__header-subtitle"
                >(de {{ card.owner }})</small
              >
            </h3>
            <div class="detail-card__atributtes">
              <h2><i class="fas fa-fire fa-sm"></i></h2>
              <h2>
                <i class="fas fa-id-badge fa-sm"></i>{{ card.figureNumber }}
              </h2>
            </div>
          </header>
          <section class="player-card__container">
            <section class="player-card__img">
              <img
                src="../../../assets/pity.png"
                [alt]="card.name | concatenate : card.surname"
              />
            </section>
            <section class="player-card__body">
              <section
                class="player-card__section-info player-card__section-info--justify-between"
              >
                <p>
                  <i class="fa-solid fa-weight-scale fa-sm"></i>
                  <strong> Peso: </strong>
                  <span class="player-card__info-span"
                    >{{ card.weight }} KG</span
                  >
                </p>
                <p>
                  <i class="fas fa-ruler-vertical fa-sm"></i>
                  <i class="fas fa-person fa-sm"></i>
                  <strong>Altura: </strong>
                  <span class="player-card__info-span"
                    >{{ card.height }} metros</span
                  >
                </p>
              </section>
              <section
                class="player-card__section-info player-card__section-info--justify-center"
              >
                <p>
                  <strong>Nacimiento: </strong>
                  <span
                    >{{ card.birth | date : 'dd-MM-yyyy' }} ({{
                      card.age
                    }}
                    años)</span
                  >
                </p>
              </section>
              <section
                class="player-card__section-info player-card__section-info--justify-between"
              >
                <p>
                  <strong>Casaca: </strong>
                  <span class="player-card__info-span">{{
                    card.shirtNumber
                  }}</span>
                </p>
                <p>
                  <strong>Selección:</strong>
                  <span class="player-card__info-span"
                    >{{ card.nationalTeam }} (<i class="fa-solid fa-trophy"></i>
                    {{ card.worldCups }})</span
                  >
                </p>
              </section>
              <section
                class="player-card__section-info player-card__section-info--justify-between"
              >
                <p>
                  <strong>Año debut: </strong>
                  <span class="player-card__info-span">{{
                    card.debutYear
                  }}</span>
                </p>
                <p>
                  {{ card.confederation | uppercase }} (<i
                    class="fa-solid fa-trophy"
                  ></i>
                  {{ card.confederationWorldCups }})
                </p>
              </section>
              <section
                class="player-card__section-info player-card__section-info--justify-between"
              >
                <p>
                  <strong>Posición: </strong>
                  <span class="player-card__info-span">{{ card.positon }}</span>
                </p>
                <p>
                  <strong>{{ card.ifIsLeader }}</strong>
                </p>
              </section>
              <section
                class="player-card__section-info player-card__section-info--justify-center"
              >
                <p>
                  <strong
                    >COTIZACION:
                    {{
                      card.quote | currency : 'EUR' : 'symbol' : '0.0-2'
                    }}</strong
                  >
                </p>
              </section>
            </section>
          </section>
          <footer class="player-card__body">
            <section
              class="player-card__section-info player-card__section-info--justify-between"
            >
              <p>
                <strong>Nivel de Impresión </strong>
                <span>{{ card.levelOfImpresion | uppercase }}</span>
              </p>
              <p>
                <strong>Valoración Base </strong>
                <span class="player-card__info-span">{{
                  card.baseValoration | number:'0.0-2'
                }}</span>
              </p>
            </section>
            <section
              class="player-card__section-info player-card__section-info--justify-center"
            >
              <p>
                <strong>Valoración Total </strong>
                <span class="player-card__info-span">{{
                  card.totalValoration | number:'0.0-2'
                }}</span>
              </p>
            </section>
            <section class="container-button">
              <button class="button button--secondary" (click)="goCardPage()">
                Volver
              </button>
              <button class="button button--primary">Solicitar</button>
            </section>
          </footer>
        </section>
      </article>
  </section>
</article>
<script
  src="https://kit.fontawesome.com/007d112e2a.js"
  crossorigin="anonymous"
></script>
