<div class="card-market" *ngFor="let marketCard of marketCards">
  <header class="card-market__name">
      <h1 class="card-market__name-text">{{marketCard.name}}</h1>
      <i class="fa-solid fa-store fa-2xl"></i>

      <!-- <h1 class="card-market--name-text">Libreria Dibu-jando</h1>
      <i class="fa-solid fa-book-open fa-2xl"></i> -->

      <!-- <h1 class="card-market--name-text">Supermercado Chumbo</h1>
      <i class="fa-solid fa-shopping-basket fa-2xl"></i> -->
  </header>

  <dl class="card-market__content">
      <dl class="card-market__info location">
          <dt>
              <b class="card-market__attribute">Direccion: </b>
              <span class="card-market__attribute-info">{{marketCard.address}}</span>
          </dt> 

          <dt>
              <b class="card-market__attribute">Ubicacion Geografica: </b>
              <span class="card-market__attribute-info">{{marketCard.geoLocation}}</span>
          </dt>

          <dt>
              <b class="card-market__attribute">Distancia: </b>
              <span class="card-market__attribute-info">Ver como funciona</span>
          </dt>
      </dl>

      <dl class="card-market__info stock">
          <dt>
              <b class="card-market__attribute">Stock de Sobres: </b>
              <span class="card-market__attribute-info">{{marketCard.envelopeStock}}</span>
          </dt>
          <dt class="card-market__status">
            <!-- CONSULTA: 
            Entiendo que si tiene >= 1 pedido pendiente se muestra, en caso contrario, no.
            Si hay que poner la cantidad de pendientes hacer metodo en el back que devuelva cantidad pendientes -->
              <span>Pedidos Pendientes</span>
          </dt>
      </dl>

      <dt class="card-market__info price">
          <b class="card-market__attribute">Precio por sobre: </b>
          <span class="card-market__attribute-info">{{marketCard.envelopePrice}}</span>
      </dt>
  </dl>
</div>