@import url(/src/components/commons/input/input.css);

.variant-filter {
  background-color: var(--color-terciary);
  box-shadow: var(--box-shadow-xs);
  color: var(--color-clear);
  padding: 1em;
}

.variant-filter--assessment {
  font-size: 1.25em;
  width: 100%;
}

.variant-filter--sort {
  border-radius: var(--border-radius-md);
  font-size: 1em;
}

.variant-filter__title {
  font-size: 2em;
  padding-bottom: inherit;
  text-align: center;
  flex-grow: 1;
}

.variant-filter__title--primary {
  border-bottom: 1px solid var(--color-clear);
}

.variant-filter__sub-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2em;
  align-items: center;
  padding-top: 1em;
} 

.variant-filter__input-group {
  display: flex;
  gap: 1.2em;
  flex-grow: 1;
  width: 100%;
}

.variant-filter__container {
  flex-grow: 1;
}

.variant-filter__container-input {
  width: 100%;
}

.radio-filter {
  font-size: 1.5em;
  padding: 1rem;
}

.radio-filter label:hover {
  opacity: 0.5;
}

@media screen and (min-width:401px) and (max-width: 768px) {
  .radio-filter {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}
/* Se eligió una medida intermedia para hacer el cambio por decisiones de diseño */
@media screen and (min-width: 630px) and (max-width: 768px) {
  .variant-filter__title--secondary {
    width: 5.5em;
    flex-grow: 0;
    justify-self: center
  }

  .variant-filter__container {
    flex-grow: 0;
    width: 8.5em;
  }

  .variant-filter__checkbox {
    align-self: center;
  }

  .variant-filter__sub-section {
    flex-grow: 0;
    justify-content: center;
  }

  .variant-filter__sub-section--grow {
    flex-grow: 1;
  }

  .variant-filter__section {
    display: flex;
  }

  .variant-filter__input-group {
    display: flex;
    gap: 1em;
    flex-grow: 0;
    width: min-content;
  }
}

@media screen and (min-width: 769px) {
  .variant-filter--assessment {
    border-radius: var(--border-radius-xl);
    padding: var(--box-padding);
  }

  .variant-filter--sort {
    font-size: 0.8rem;
  }
}