<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="./filter.css">
</head>

<body>
  <form class="variant-filter variant-filter--sort">
    <h3 class="variant-filter__title variant-filter__title--primary">Ordenar Por</h4>
    <div class="radio-filter">
      <label for="closest">
        <input type="radio" id="closest" name="radio-filter--option" value="closest" checked>
        Menor Distancia
      </label><br>

      <label for="cheapest">
        <input type="radio" id="cheapest" name="radio-filter--option" value="cheapest">
        Más Barato
      </label><br>

      <label for="pack-quantity">
        <input type="radio" id="pack-quantity" name="radio-filter--option" value="pack-quantity">
        Más Sobres
      </label><br>

      <label for="closest-only">
        <input type="radio" id="closest-only" name="radio-filter--option" value="closest-only">
        Solo los más cercanos
      </label>
    </div>
  </form>
</body>

</html>