@import url('../../styles/styles.css');
@import url('../commons/input/input.css');

.variant-filter-a {
  background-color: var(--color-terciary);
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--color-clear-medium);
  font-size: 1.25em;
  padding: 0.5rem 0.5rem 4rem 0.5rem;
  width: 100%;
}
.variant-filter-a__input-group{
  display: flex;
  gap: 1.2em;
  flex-grow: 1;
  width: 100%;
}
.variant-filter-a__title {
  font-size: 2em;
  padding: 0.6em 0 0.4em 0;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.variant-filter-a__title--primary {
  border-bottom: 1px solid var(--color-clear-medium);
  margin-bottom: 0.8em;
}

.variant-filter-a__sub-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2em;
  align-items: center;
}

.variant-filter-a__container {
  flex-grow: 1;
  width: 9em;
}

.variant-filter-a__container__label {
  display: block;
  padding-bottom: 0.4em;
}

.variant-filter-a__container__input {
  color: var(--color-secondary);
  height: 3em;
  width: 100%;
}

.form__container {
  gap: 1rem;
}

/* Se eligió una medida intermedia para hacer el cambio por decisiones de diseño */
@media screen and (min-width: 630px) and (max-width: 768px) {
    .variant-filter-a__title--secondary {
    width: 5.5em;
    flex-grow: 0;
    justify-self: center
  }
  .variant-filter-a__container {
    flex-grow: 0;
    width: 8.5em;
  }
  .variant-filter-a__checkbox {
    align-self: center;
  }
  .variant-filter-a__sub-section {
    flex-grow: 0;
    justify-content: center;
  }
  .variant-filter-a__sub-section--grow {
    flex-grow: 1;
  }
  .variant-filter-a__section {
    display: flex;
  }
  .variant-filter-a__input-group{
    display: flex;
    gap: 1em;
    flex-grow: 0;
    width: min-content;
  }
}
@media screen and (min-width: 769px){
  .variant-filter-a {
    border-radius: 0.5rem;
    padding: var(--box-padding);
    margin: 1.75rem;
  }
}
