@import url('../../styles/styles.css');
@import url('../commons/input/input.css');

.variant-filter-a{  
    background-color: var(--primary-color);
    border-radius: 0 0 0.5rem 0.5rem;
    color: var(--clear-color);
    font-size: 1.25em;
    padding: 0.5rem 0.5rem 4rem 0.5rem;
}
.variant-filter-a__h{
    font-size: 2em;
    padding: 0.6em 0 0.4em 0;
    text-align: center;
}
.variant-filter-a__h--h3{
    border-bottom: 1px solid var(--clear-color);
}
.variant-filter-a__section{
    display: flex;
    gap: 1em;
}
.variant-filter-a__container{
    flex-grow: 1;
}
.variant-filter-a__container__label{
    display: block;
    padding-bottom: 0.4em;
}

.variant-filter-a__container__input{
    color: var(--secondary-color);
    height: 3em;
    width: 100%;
}
.form__container {
    gap: 1rem;
  }