<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./variant-filter.css">
</head>
<body>
    <form class="variant-filter-a">
        <section class="form__row">
            <input name="search" class="form__input--icon-right" type="text" placeholder="Buscar:" />
            <i class="form__icon--right fa-solid fa-magnifying-glass"></i>
        </section>

        <h3 class="variant-filter-a__h variant-filter-a__h--h3">Filtros</h3>
        <h4 class="variant-filter-a__h">Valoración</h4>
        <section class="variant-filter-a__section">
            <div class="variant-filter-a__container">
                <label class="variant-filter-a__container__label" for="">Desde</label>
                <input class="input variant-filter-a__container__input" type="text" placeholder="placeholder">
            </div>
            <div class="variant-filter-a__container">
                <label class="variant-filter-a__container__label" for="">Hasta</label>
                <input class="input variant-filter-a__container__input" type="text" placeholder="placeholder">
            </div>
        </section>
            <div>
                <input id="onFire" type="checkbox"> 
                <label for="onFire">On fire</label>
            </div>
            <div>
                <input id="promise" type="checkbox">
                <label for="promise">Es promesa</label>
            </div>
    </form>
    <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</body>
</html>