<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <link rel="stylesheet" href="./card.css">
</head>

<body>
  <div class="container-card">
    <article class="player-card">
      <section class="player-card__img">
        <img src="/src/images/dibu.png" alt="Emiliano Martinez" />
      </section>
      <section class="player-card__content">
        <header class="player-card__header">
          <h2>Emiliano Martinez</h2>
          <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
          <h2>
            <i class="fas fa-trophy fa-sm"></i><!--
            --><i class="fas fa-fire fa-sm"></i><!--
            --><i class="fas fa-star fa-sm"></i><!--
            --> 124
          </h2>
          <p>
            <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
          </p>
          <p>
            <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
              Altura:</strong> 1.7 metros
          </p>
        </header>
        <section class="player-card__body">
          <p><strong>Casaca:</strong> 23</p>
          <p><strong>Nacimiento:</strong> 02/09/92 (30 años)</p>
          <p><strong>Selección:</strong> Argentina</p>
          <p><strong>Posición:</strong> Arquero</p>
          <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
        </section>
        <footer class="player-card__footer">
          <h2>CEDIDA POR:</h2>
          <p>JUAN "CACHO" CACHEFFO</p>
        </footer>
      </section>
    </article>
  </div>
  <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</body>
</html>