<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
  <title>Card</title>
  <link rel="stylesheet" href="card.css">
</head>

<body>
  <div class="container">
    <div class="card">
      <img src="../../images/dibu.jpeg" alt="dibu martinez" />
      <div class="card__content">
        <div class="card__content__player-data">
          <div class="card__content__player-data__header">
            <h2>Emiliano Martinez</h2>
            <section class="card__content__player-data__header__icons">
              <i class="fa-solid fa-id-badge fa-lg"></i>
              <h2>5</h2>
            </section>
            <section class="card__content__player-data__header__icons">
              <i class="fa-solid fa-trophy fa-lg"></i><!--
              --><i class="fa-solid fa-fire fa-lg"></i><!--
              --><i class="fa-solid fa-star fa-lg"></i>
              <h2>124</h2>
            </section>
          </div>
          <div class="card__content__player-data__info">
            <p><strong><img /> Peso:</strong> 85 kilos</p>
            <p><strong><img /> Altura:</strong> 1.7 metros</p>
          </div>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A odit perspiciatis sequi. Enim suscipit molestias
            at vero ut! Dolores, asperiores.</p>
          <a href="#">Leer mas</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../images/dibu.jpeg" alt="dibu martinez" />
      <div class="card__content">
        <div class="card__content__player-data">
          <div class="card__content__player-data__header">
            <h2>Emiliano Martinez</h2>
            <section class="card__content__player-data__header__icons">
              <i class="fa-solid fa-id-badge fa-lg"></i>
              <h2>5</h2>
            </section>
            <section class="card__content__player-data__header__icons">
              <i class="fa-solid fa-trophy fa-lg"></i><!--
              --><i class="fa-solid fa-fire fa-lg"></i><!--
              --><i class="fa-solid fa-star fa-lg"></i>
              <h2>124</h2>
            </section>
          </div>
          <div class="card__content__player-data__info">
            <p><strong><img /> Peso:</strong> 85 kilos</p>
            <p><strong><img /> Altura:</strong> 1.7 metros</p>
          </div>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A odit perspiciatis sequi. Enim suscipit molestias
            at vero ut! Dolores, asperiores.</p>
          <a href="#">Leer mas</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../images/dibu.jpeg" alt="dibu martinez" />
      <div class="card__content">
        <div class="card__content__player-data">
          <div class="card__content__player-data__header">
            <h2>Emiliano Martinez</h2>
            <section class="card__content__player-data__header__icons">
              <i class="fa-solid fa-id-badge fa-lg"></i>
              <h2>5</h2>
            </section>
            <section class="card__content__player-data__header__icons">
              <i class="fa-solid fa-trophy fa-lg"></i><!--
              --><i class="fa-solid fa-fire fa-lg"></i><!--
              --><i class="fa-solid fa-star fa-lg"></i>
              <h2>124</h2>
            </section>
          </div>
          <div class="card__content__player-data__info">
            <p><strong><img /> Peso:</strong> 85 kilos</p>
            <p><strong><img /> Altura:</strong> 1.7 metros</p>
          </div>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A odit perspiciatis sequi. Enim suscipit molestias
            at vero ut! Dolores, asperiores.</p>
          <a href="#">Leer mas</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>