@import url('../../styles/styles.css');
@import url('./card.css');
@import url('../commons/button/button.css');

.detail-card__header{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  background-image: var(--card-bg-gradient);
}

.detail-card__header h2{
  padding-bottom: 0.25em;
}

.detail-card__header small{
  font-size: 0.5em;
}

.detail-card__atributtes{
  display: flex;
  justify-content: center;
}

/* =================================================================================== */
/* ===== Re-asignación de clases para quitar o cambiar comportamientos heredados ===== */
/* =================================================================================== */

.player-card__header h2:nth-child(1){
  flex-basis: 0%;
}

.player-card__body{
  border-bottom: 1px solid var(--raisin-black);
  display: block;
}

.player-card__body p{
  padding-top: 0.5em;
  font-size: 1.5em;
}

.player-card__body p:nth-child(even){
  text-align: start;
}

.player-card__footer p{
  padding-top: 0.5em;
  font-size: 1.5em;
  align-self: self-start;
}

.container-button {
  flex-wrap: wrap;
  padding: 0.5em 0;
}

.button {
  margin: 0.2em 0;
  width: 100%;
}