<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Details</title>
  <link rel="stylesheet" href="./card-details.css">
</head>

<body>
  <div class="container">
    <article class="player-card">
      <!-- Piso clases card ya que me puede servir los estilos para tablet y web sacando mi clase -->
      <header class="player-card__header detail-card__header">
        <h2>Emiliano Martinez</h2>
        <h2><small>(de Alejo "El Indio" Meni)</small></h2>
        <div class="detail-card__atributtes">
          <h2><i class="fas fa-fire fa-sm"></i></h2>
          <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
        </div>
      </header>
      <section class="player-card__img">
        <img src="../../images/dibu.png" alt="Emiliano Martinez" />
      </section>
      <section class="player-card__content">
        <section class="player-card__body">
          <p>
            <i class="fa-solid fa-weight-scale fa-sm"></i>
            <strong> Peso:</strong> 85 kilos
          </p>
          <p>
            <i class="fas fa-ruler-vertical fa-sm"></i>
            <i class="fas fa-person fa-sm"></i>
            <strong>Altura:</strong> 1.7 metros
          </p>
          <p><strong>Nacimiento:</strong> 02/09/92 (30 años)</p>
          <p><strong>Casaca:</strong> 23</p>
          <p>
            <strong>Selección:</strong> Argentina
            (<i class="fa-solid fa-trophy"></i> 3)
          </p>
          <p><strong>Año debut:</strong> 2008</p>
          <p>CONMEBOL (<i class="fa-solid fa-trophy"></i> 10)</p>
          <p><strong>Posición:</strong> Arquero</p>
          <p><strong>Es Lider</strong></p>
          <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
        </section>
        <footer class="player-card__footer">
          <p><strong>Nivel de Impresión</strong> Bajo</p>
          <p><strong>Valoración Base</strong> 102</p>
          <p><strong>Valoración Total</strong> 124</p>
        </footer>
      </section>
    </article>
  </div>
  <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</body>
</html>