<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <link rel="stylesheet" href="card.css">
</head>

<body>
  <div class="container">
    <div class="card">
      <img src="../../images/dibu.png" alt="dibu martinez" />
      <div class="card__contenido">
        <h3>Titulo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A odit perspiciatis sequi. Enim suscipit molestias at vero ut! Dolores, asperiores.</p>
        <a href="#">Leer mas</a>
      </div>
    </div>
    <div class="card">
      <img src="../../images/dibu.png" alt="dibu martinez" />
      <div class="card__contenido">
        <h3>Titulo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A odit perspiciatis sequi. Enim suscipit molestias at vero ut! Dolores, asperiores.</p>
        <a href="#">Leer mas</a>
      </div>
    </div>
    <div class="card">
      <img src="../../images/dibu.png" alt="dibu martinez" />
      <div class="card__contenido">
        <h3>Titulo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A odit perspiciatis sequi. Enim suscipit molestias at vero ut! Dolores, asperiores.</p>
        <a href="#">Leer mas</a>
      </div>
    </div>    
  </div>
</body>

</html>