<!doctype html>
<nav class="navbar--tabs">
  <!-- TODO: ver manera de generalizar esta seccion para poer cambiar el
  contenido de los anchors asi el footer puede usar este componentne -->
  <ul class="navbar__buttons">
    <!-- TODO: cuando esten listas las diferentes variantes de botones incluirlas -->
    <li class="button--text">
      <a class="button__link" href="">Figuritas</a>
    </li>
    <li class="button--text">
      <a class="button__link" href="">Sobres</a>
    </li>
    <li class="button--text">
      <a class="button__link" href="">Perfil</a>
    </li>
    <li class="button--icon">
      <a class="button__link" href=""
        ><i class="fa-solid fa-right-from-bracket"></i
      ></a>
    </li>
  </ul>
</nav>
