@import url("/src/components/commons/header/header.css");
@import url("/src/components/commons/footer/footer.css");

.wrapper{
    display: grid;
    min-width: 33rem;
    width: 100vw;
    height: 100vh;

    grid-template-rows: minmax(6rem, 10vh) auto auto minmax(6rem, 10vh);
    grid-template-areas: 
        "header"
        "aside"
        "article"
        "footer";

}

.wrapper--search{
    grid-template-rows: minmax(6rem, 10vh) 5.2rem auto auto minmax(6rem, 10vh);
    grid-template-areas: 
        "header"
        "search"
        "aside"
        "article"
        "footer";
}

.wrapper__header{
    grid-area: header;
}

.wrapper__search{
    grid-area: search;
}

.wrapper__aside{
    grid-area: aside;
    padding: 1rem;
}

.wrapper__article{
    grid-area: article;
    padding: 1rem;
}

.wrapper__footer{
    grid-area: footer;
}

@media screen and (min-width:768px){
    .wrapper{
        grid-template-columns: minmax(20rem, 20vw) auto;
        grid-template-rows: minmax(6rem, 10vh) auto minmax(6rem, 10vh);
        grid-template-areas: 
            "header header"
            "aside article"
            "footer footer";
    }

    .wrapper--search{
        grid-template-columns: minmax(200px, 20vw) auto;
        grid-template-rows: minmax(6rem, 10vh) 5.2rem auto minmax(6rem, 10vh);
        grid-template-areas: 
            "header header"
            "search search"
            "aside article"
            "footer footer";
    }
}
