@import url(../../../styles/styles.css);
@import url(../main-footer/main-footer.css);
@import url(../header/header.css);


.wrapper{
    display: grid;
    min-width: 330px;
    width: 100vw;
    height: 100vh;
    
    grid-template-rows: 10vh auto auto 10vh;
    grid-template-areas: 
        "header"
        /* "search" AGREGAR SI TU PAGINA TIENE SEARCH BAR Y AGREGA UN 'auto' MAS EN grid-template-rows */
        "aside"
        "article"
        "footer";
}

.wrapper header{
    grid-area: header;
    position: fixed;
    top: 0;
}

/* .wrapper search{
    grid-area: search;
    padding: 1rem;
    padding-top: 2em;
} */

.wrapper aside{
    grid-area: aside;
    /* OPCIONAL EL PADDING */
    padding: 1rem;
}

.wrapper article{
    grid-area: article;
    /* OPCIONAL EL PADDING */
    padding: 1rem;

    /* LES DEJO POR SI QUIEREN PROBARLO EL CODIGO PARA HACER EL GRID DE LOS ELEMENTOS QUE TENEMOS Q MOSTRAR
    OSEA EL GRID PARA SCROLLEAR ENTRE LOS ITEMS */
    /* TIP: PARA QUE FUNKE LINDO EL AUTO-FIT LOS CONTAINERS DE LO QUE LE PONGAN ADENTRO TIENEN QUE TENES WIDTH:100% */
    /* display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: max-content;
    gap: 2em; */
}

.wrapper footer{
    grid-area: footer;
}

@media screen and (min-width:768px){
    .wrapper{
        grid-template-columns: minmax(200px, 20vw) auto;
        grid-template-rows: 10vh auto 10vh;
        grid-template-areas: 
            "header header"
            /* "search article" AGREGAR SI TU PAGINA TIENE SEARCH BAR Y AGREGA UN 10VH MAS EN grid-template-rows */
            "aside article"
            "footer footer";
    }
}
