<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="card-market.css">
</head>
<body>

    <div class="card-market">
        
        <div class="card-market--name">
            <h1 class="card-market--name-text">Supermercado Chumbo</h1>
            <i class="fa-solid fa-store fa-2xl"></i>
        </div>

        <div class="card-market--content">
            <div class="card-market--info location">
                <div>
                    <span class="card-market--attribute">Direccion: </span>
                    <span class="card-market--attribute-info">xxxx </span>
                </div> 

                <div>
                    <span class="card-market--attribute">Ubicacion Geografica: </span>
                    <span class="card-market--attribute-info">yyyy </span>
                </div>

                <div>
                    <span class="card-market--attribute">Distancia: </span>
                    <span class="card-market--attribute-info">zzzz </span>
                </div>
            </div>

            <div class="card-market--info stock">
                <div>
                    <span class="card-market--attribute">Stock de Sobres: </span>
                    <span class="card-market--attribute-info">#### </span>
                </div>
                <div>
                    <span>Pedidos Pendientes</span>
                </div>
            </div>

            <div class="card-market--info price">
                <span class="card-market--attribute">Precio por sobre: </span>
                <span class="card-market--attribute-info">$1000</span>
            </div>
        </div>
    </div>

    <div class="card-market">
        
        <div class="card-market--name">
            <h1 class="card-market--name-text">Supermercado Chumbo</h1>
            <i class="fa-solid fa-store fa-2xl"></i>
        </div>

        <div class="card-market--content">
            <div class="card-market--info location">
                <div>
                    <span class="card-market--attribute">Direccion: </span>
                    <span class="card-market--attribute-info">xxxx </span>
                </div> 

                <div>
                    <span class="card-market--attribute">Ubicacion Geografica: </span>
                    <span class="card-market--attribute-info">yyyy </span>
                </div>

                <div>
                    <span class="card-market--attribute">Distancia: </span>
                    <span class="card-market--attribute-info">zzzz </span>
                </div>
            </div>

            <div class="card-market--info stock">
                <div>
                    <span class="card-market--attribute">Stock de Sobres: </span>
                    <span class="card-market--attribute-info">#### </span>
                </div>
                <div>
                    <span>Pedidos Pendientes</span>
                </div>
            </div>

            <div class="card-market--info price">
                <span class="card-market--attribute">Precio por sobre: </span>
                <span class="card-market--attribute-info">$1000</span>
            </div>
        </div>
    </div>

    <div class="card-market">
        
        <div class="card-market--name">
            <h1 class="card-market--name-text">Supermercado Chumbo</h1>
            <i class="fa-solid fa-store fa-2xl"></i>
        </div>

        <div class="card-market--content">
            <div class="card-market--info location">
                <div>
                    <span class="card-market--attribute">Direccion: </span>
                    <span class="card-market--attribute-info">xxxx </span>
                </div> 

                <div>
                    <span class="card-market--attribute">Ubicacion Geografica: </span>
                    <span class="card-market--attribute-info">yyyy </span>
                </div>

                <div>
                    <span class="card-market--attribute">Distancia: </span>
                    <span class="card-market--attribute-info">zzzz </span>
                </div>
            </div>

            <div class="card-market--info stock">
                <div>
                    <span class="card-market--attribute">Stock de Sobres: </span>
                    <span class="card-market--attribute-info">#### </span>
                </div>
                <div>
                    <span>Pedidos Pendientes</span>
                </div>
            </div>

            <div class="card-market--info price">
                <span class="card-market--attribute">Precio por sobre: </span>
                <span class="card-market--attribute-info">$1000</span>
            </div>
        </div>
    </div>

</body>
</html>