<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="login-box">
      <div class="logo">
        <img src="../../images/logo.png" alt="WorldCapp" />
        <div class="logo-text">
          <span class="first-part">world</span><span class="center-dot">.</span
          ><span class="last-part">capp</span>
        </div>
      </div>
  
      <div class="form-login">
        <label class="label --user" for="user">Usuario</label>
        <form class="form --username">
          <i class="container-icon fa-solid fa-user"></i>
          <input class="form-input input" type="text" placeholder="Usuario" />
        </form>
  
        <label class="label --password" for="password">Contraseña</label>
        <form class="form --password">
          <i class="container-icon fa-solid fa-key"></i>
          <input
            class="form-input input"
            type="text"
            placeholder="Contraseña"
          />
        </form>
      </div>
  
      <div class="button-login">
        <button class="button button--primary">Ingresar</button>
      </div>
      
    </section>

  </body>
  <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>
