@import url("../../styles/styles.css");
@import url("../commons/button/button.css");
@import url("../commons/logo/logo.css");
@import url("../commons/input/input.css");
@import url("../commons/main-footer/main-footer.css");


body{
    display: flex;
    flex-direction: column;
}

.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-clear);
    box-shadow: var(--box-shadow-md)
}

.form-login{
    display: flex;
    flex-direction: column;
    min-width: 26em;
    gap: 2em;
}

.form__input,
.form__header,
.form__content,
.form__actions{
    display: flex;
    /* justify-content: center; */
}

.form__content,
.form__actions{
    flex-direction: column;
}

.form__input{
  align-items: center;
  position: relative;
}

.form__header{
    align-items: center;    
}

.form__actions{
    margin-top: 2em;
}

.form__header .logo-text{
    font-size: 3em;
}

.form__header img{
    width: 5em;
}

.form__label{
    font-size: 1.5em;
    color: var(--text-color-medium);
    margin: 0.6em 0 0.3em 0;
}
