<article class="user-card">
  <img src="https://www.infobae.com/new-resizer/MQBzwcl--Jgxfm53chAmEYTm6V4=/arc-anglerfish-arc2-prod-infobae/public/PPHDXSRNQKYLGBP6WNPLD6S7DM.jpg"  class="user-card__image">
  <section class="user-card__data">
    <section class="user-card__data-name">
      <p *ngIf="!isEditing">{{ user.username }}</p>
      <button *ngIf="!isEditing" (click)="startEdit()">Edit</button>             
      <p *ngIf="isEditing">
        <input [(ngModel)]= "editedUsername" (keyup.escape)="cancelEdit()">
        <button (click)="saveUsername()">ok</button>
      </p>
    </section>
    <section class="user-card__personal">
      <p><strong>Edad:</strong>{{ user.edad }}</p>
      <p><strong>Ubicacion:</strong>{{ user.ubicacion }}</p>
    </section>      
  </section>
</article>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>