<div class="home">  
  <section class="home__content">
    <form class="form-login">
      <section class="form-login__header">
        <app-logo/>
      </section>
      <section class="form-login__content">
        <h2 class="form__row-title">Usuario</h2>
        <section class="form__row">
          <!-- <input type="text" [(ngModel)]="loginData.user" name="millas" > -->
          <app-icon-field rounded shaded icon="fas fa-user" (onchange)="loginDatos($event)" name="user" ></app-icon-field>
        </section>
        <h2 class="form__row-title">Contraseña</h2>
        <section class="form__row">
          <app-icon-field rounded shaded icon="fas fa-key" type="password" name="password" ></app-icon-field>
        </section>
      </section>
      <section class="form-login__actions">
        <button class="button button--large button--primary button--font-md" data-testid="login-button" (click)="loginData.submit()">Ingresar</button>
      </section>
      <div> {{loginData.user}} </div>
    </form>
  </section>
</div>
