<div class="home">
  <section class="home__content">
    <form [formGroup]="loginForm" class="form-login" (ngSubmit)="submitLogin()">
      <section class="form-login__header">
        <app-logo />
      </section>
      <section class="form-login__content">
        <div class="field">
          <label class="field__label field__label--strong" for="name"
            >Usuario</label
          >
          <div class="field__container rounded shadow">
            <input
              id="name"                          
              formControlName="name"              
              class="field__input field__input--iconized rounded"
              type="text"
              autocomplete="off"
              data-testid="userInput"              
            />
            <i iconElement class="field__icon fas fa-user"></i>
          </div>
          <span *ngIf="errors['name']" class="field__error">{{getMyError('name', errors['name'])}}</span>
        </div>
        <div class="field">
          <label class="field__label field__label--strong" for="password">Contraseña</label>
          <div class="field__container rounded shadow">
            <input
              id="password"              
              formControlName="password"             
              class="field__input field__input--iconized rounded"
              type="password"
              autocomplete="off"
              data-testid="passwordInput"                            
            />
            <i iconElement class="field__icon fas fa-key"></i>
          </div>
          <span *ngIf="errors['password']" class="field__error">{{getMyError('password', errors['password'])}}</span>
        </div>
        <div *ngIf="errorMsg" class="error-msg" data-testid="errorMessage">
          {{ errorMsg }}
        </div>
      </section>
      <section class="form-login__actions">
        <button
          type="submit"
          [ngClass]="!loginForm.valid ? 'button--disabled' : 'shadow'"          
          (click)="formHasErrors()"
          class="button button--large button--primary button--font-md"
          data-testid="loginButton"          
        >
          Ingresar
        </button>
      </section>
    </form>
  </section>
</div>
