.header{
  /*Layout*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6rem;
  z-index: 99;
  /*styles*/
  background-image: var(--gradient-primary);
}

.footer{  
  width: 100vw;
  height: 6rem;
  background-color: var(--color-secondary);
}

