@import url('../../../styles/styles.css');

.logo {
  /*Layout*/
  display: flex;
  /*Typeface*/
  color: var(--typeface-color);
  text-shadow: var(--box-shadow-md);
}

.logo__text {
  /*Layout*/
  cursor: default;
}

.logo__img {
  /*Layout*/
  width: 1.4em;
  margin-right: 0.4em;
}

.logo__left-text {
  /*Typeface*/
  font-weight: 800;
}

.logo__center-dot {
  /*Layout*/
  margin: 0 0.05em;
  /*Typeface*/
  font-family: var(--secondary-font);
  font-weight: 800;
  color: var(--focus-color);
}

.logo__right-text {
  /*Typeface*/
  font-weight: 400;
}