<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Logo</title>
  <link rel="stylesheet" href="logo.css">
</head>
<body>
  <figure class="logo">
    <img src="../../../images/logo.png" alt="WorldCapp Logotipo"></img>
    <section class="logo__text">
      <span class="text__first-part">world</span><span class="text__center-dot">.</span><span class="text__last-part">capp</span>
    </section>
  </figure>
</body>
</html>