@import url('../../../styles/styles.css');

.logo{
  /*Layout*/
  display: flex;
  /*Typeface*/
  color: var(--typeface-color);
  text-shadow: var(--box-shadow-md);
}

.logo img{
  /*Layout*/
  width: 1.4em;
  margin-right: 0.4em;  
}

.logo__text{
  /*Layout*/
  cursor: default;
}

.text__first-part {
  /*Typeface*/
  font-weight: 800;
}

.text__center-dot {
  /*Layout*/
  margin: 0 0.05em;
  /*Typeface*/
  font-family:var(--secondary-font);
  font-weight: 800;
  color:var(--focus-color);
}

.text__last-part {
  /*Typeface*/
  font-weight: 400;
}