<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../card-user/card-user.css" />
  <title>Card user</title>
</head>

<body>
  <div class="user-card">
    <figure class="user-card__image"></figure>
    <div class="user-card__data">
      <h2 class="user-card__data-name">
        elMuñe
        <figure class="user-card__edit-icon"></figure>
      </h2>
      <p class="user-card__age"><b>Edad:</b> 73 años</p>
      <p class="user-card__addres"><b>Ubicacion:</b> Parque Chacabuco</p>
    </div>
  </div>
</body>

</html>