<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="card-user.css" />
  <title>Card user</title>
</head>

<body>
  <div class="user-card">
    <figure class="user-card__image"></figure>
    <div class="user-card__data">
      <h2 class="user-card__data-name">
        elMuñe 
        <a class="caca">
          <i class="user-card__edit-icon fa-solid fa-pen-to-square"></i>
        </a>                  
      </h2>
      <p class="user-card__age"><b>Edad:</b> 73 años</p>
      <p class="user-card__addres"><b>Ubicacion:</b> Parque Chacabuco</p>
    </div>
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>