<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="card-user.css" />
  <title>Card user</title>
</head>

<body>
  <div class="user-card">
    <figure class="user-card--image"></figure>
    <div class="user-card--data">
      <h2 class="data-name">
        elMuñe
        <figure class="name-edit"></figure>
      </h2>
      <p class="age"><b>Edad:</b> 73 años</p>
      <p class="addres"><b>Ubicacion:</b> Parque Chacabuco</p>
    </div>
  </div>
</body>

</html>