<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/styles.css" />
  <link rel="stylesheet" href="../card-user/index.css" />
  <title>Card user</title>
</head>
<body>
  <div class="user-card">
    <figure class="user-logo"></figure>
    <h2 class="user-name">
      Nombre usario
      <figure class="user-name-edit"></figure>
    </h2>
    <p class="user-edad"><b>Edad:</b> EDAD DEL USUARIO</p>
    <p class="user-addres"><b>Ubicacion:</b> UBICACION USUARIO</p>
  </div>
</body>

</html>