<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/styles.css" />
  <link rel="stylesheet" href="../card-user/index.css" />
  <title>Card user</title>
</head>

<body>
  <div class="user-card">
    <figure class="logo"></figure>
    <div class="user-data">
      <h2 class="name">
        Nombre usario
        <figure class="user-name-edit"></figure>
      </h2>
      <p class="age"><b>Edad:</b> EDAD DEL USUARIO</p>
      <p class="addres"><b>Ubicacion:</b> UBICACION USUARIO</p>
    </div>
    <div class="separator"></div>
  </div>
</body>

</html>