<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="./variant-filter.css">
</head>
<body>
    <form class="variant-filter-a">
        <!-- Futuro search, en espera, este es solo maqueta -->
        <div class="solo-maqueta">
            <input type="search" value="Buscar">
        </div>
        <!-- Código Valido -->
        <h3 class="variant-filter-a__h3">Filtros</h3>
        <h4>Valoración</h4>
        <section class="variant-filter-a__valoration">
            <div class="variant-filter-a__container">
                <label class="variant-filter-a__container__label" for="">Desde</label>
                <input class="variant-filter-a__container__input" type="text" placeholder="placeholder">
            </div>
            <div class="variant-filter-a__container">
                <label class="variant-filter-a__container__label" for="">Hasta</label>
                <input class="variant-filter-a__container__input" type="text" placeholder="placeholder">
            </div>
        </section>
            <div>
                <input id="onFire" type="checkbox"> 
                <label for="onFire">On fire</label>
            </div>
            <div>
                <input id="promise" type="checkbox">
                <label for="promise">Es promesa</label>
            </div>
    </form>
</body>
</html>