<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../styles/styles.css" />
  <link rel="stylesheet" href="login-box.css" />
  <title>Document</title>
</head>

<body>
  <form class="form-login">
    <section class="form-login__header">
      <figure class="logo">
        <img class="logo__img" src="/html/src/images/logo-icon.png" alt="WorldCapp Logotipo"></img>
        <section class="logo__text">
          <span class="logo__first-part">world</span><span class="logo-center-dot">.</span><span
            class="logo__last-part">capp</span>
        </section>
      </figure>
    </section>
    <section class="form-login__content">      
      <section class="form__row">
        <label class="form__row-title">Usuario</label>
        <input name="user" class="form__input--icon-left" type="text" placeholder="Usuario:" />
        <i class="form__icon--left fa-solid fa-user"></i>
      </section>      
      <section class="form__row">
        <label class="form__row-title">Contraseña</label>
        <input name="password" id="password" class="form__input--icon-left" type="password" placeholder="Contraseña:" />
        <i class="form__icon--left fa-solid fa-key"></i>
      </section>
    </section>
    <section class="form-login__actions">
      <button class="button--primary">Ingresar</button>
    </section>
  </form>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>

</html>