<article class="player-card player-card--trash" (click)="emitOnClicked()">
  <section class="player-card__img">
    <!-- TODO: ver como implementar la imagen -->
    <img [src]="card.imageURL" />
    <button
      class="button__link button--icon"
      *ngIf="card.isOwner"
      (click)="handleDelete()"
    >
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </section>
  <section class="player-card__content">
    <header class="player-card__header">
      <!-- TODO: implementar pipes -->
      <h2>
        {{ card.props.nombre | concatenate : card.props.apellido | titlecase }}
      </h2>
      <h2><i class="fas fa-id-badge fa-sm"></i> {{ card.props.numero }}</h2>
      <h2>
        <i
          data-testid="worldChampion"
          class="fas fa-trophy fa-sm"
          *ngIf="card.isWorldChampion"
        ></i>
        <i
          data-testid="onFire"
          class="fas fa-fire fa-sm"
          *ngIf="card.props.onFire"
        ></i>
        <span
          ><i class="fas fa-star fa-sm"></i
          >{{ card.totalValoration | number : '1.0-0' }}</span
        >
      </h2>
      <p>
        <i class="fa-solid fa-weight-scale fa-sm"></i><strong> Peso:</strong>
        {{ card.props.peso }}
      </p>
      <p>
        <i class="fas fa-ruler-vertical fa-sm"></i
        ><i class="fas fa-person fa-sm"></i><strong> Altura:</strong>
        {{ card.props.altura }}
        metros
      </p>
    </header>
    <section class="player-card__body">
      <p><strong>Casaca: </strong>{{ card.props.nroCamiseta }}</p>
      <p><strong>Nacimiento: </strong>{{ card.birth | date : 'dd-MM-yyyy' }}</p>
      <p><strong>Selección: </strong> {{ card.props.seleccion | titlecase }}</p>
      <p><strong>Posición: </strong> {{ card.props.posicion | titlecase }}</p>
      <h2 class="player-card__body--highlight">
        COTIZACION:
        {{ card.props.cotizacion | currency : 'EUR' : 'symbol' : '0.0-2' }}
      </h2>
    </section>
    <footer *ngIf="!card.isOwner && card.hasAssignedUser" class="player-card__footer">
      <h3>CEDIDA POR: {{card.props.duenio}}</h3>
    </footer>
  </section>
</article>
