<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="profile-user.css">
  <title>Figuritas Repetidas</title>
</head>

<body>
  <form class="form-info" autocomplete="off">
    <nav class="form-info__nav">
      <ul class="navbar__buttons">
        <li class="button--icon">
          <a class="button__link" href="/src/components/profile-user/profile-user.html">
            <i class="fa-solid fa-chevron-left"></i>
          </a>
        </li>        
        <button class="button--tab-off"><a class="button__link" href="/src/components/profile-user/profile-user.html">Perfil Usuario</a></button>
        <button class="button--tab-on"><a class="button__link" href="/src/components/profile-user/duplicate-stickers.html">Figuritas Repetidas</a></button>
        <button class="button--tab-off"><a class="button__link" href="/src/components/profile-user/missing-stickers.html">Figuritas Faltantes</a></button>
        <li class="button--icon">
          <a class="button__link" href="/src/components/profile-user/missing-stickers.html">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    <article class="form-info__body form-info__body--cards">
      <article class="player-card player-card--trash">
        <section class="player-card__img">
          <img src="/src/images/pity.png" alt="Gonzalo  Martinez" />
          <li class="button--icon">
            <a class="button__link" href="">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </li>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Gonzalo  Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 10</p>
            <p><strong>Nacimiento:</strong> 13/06/93 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Mediocampista</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article> 
      <article class="player-card player-card--trash">
        <section class="player-card__img">
          <img src="/src/images/pity.png" alt="Gonzalo  Martinez" />
          <li class="button--icon">
            <a class="button__link" href="">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </li>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Gonzalo  Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 10</p>
            <p><strong>Nacimiento:</strong> 13/06/93 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Mediocampista</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article> 
      <article class="player-card player-card--trash">
        <section class="player-card__img">
          <img src="/src/images/pity.png" alt="Gonzalo  Martinez" />
          <li class="button--icon">
            <a class="button__link" href="">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </li>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Gonzalo  Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 10</p>
            <p><strong>Nacimiento:</strong> 13/06/93 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Mediocampista</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article> 
      <article class="player-card player-card--trash">
        <section class="player-card__img">
          <img src="/src/images/pity.png" alt="Gonzalo  Martinez" />
          <li class="button--icon">
            <a class="button__link" href="">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </li>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Gonzalo  Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 10</p>
            <p><strong>Nacimiento:</strong> 13/06/93 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Mediocampista</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article>
      <article class="player-card player-card--trash">
        <section class="player-card__img">
          <img src="/src/images/pity.png" alt="Gonzalo  Martinez" />
          <li class="button--icon">
            <a class="button__link" href="">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </li>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Gonzalo  Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 10</p>
            <p><strong>Nacimiento:</strong> 13/06/93 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Mediocampista</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article> 
      <article class="player-card player-card--trash">
        <section class="player-card__img">
          <img src="/src/images/pity.png" alt="Gonzalo  Martinez" />
          <li class="button--icon">
            <a class="button__link" href="">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </li>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Gonzalo  Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 10</p>
            <p><strong>Nacimiento:</strong> 13/06/93 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Mediocampista</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article>
      <article class="player-card player-card--trash">
        <section class="player-card__img">
          <img src="/src/images/pity.png" alt="Gonzalo  Martinez" />
          <li class="button--icon">
            <a class="button__link" href="">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </li>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Gonzalo  Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 10</p>
            <p><strong>Nacimiento:</strong> 13/06/93 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Mediocampista</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article>
      <article class="form-info__actions">
        <li class="button--circle">
          <a class="button__link" href="">
            <i class="fa-solid fa-plus"></i>
          </a>
        </li>
      </article>
    </article>
  </form>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>