<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./profile-user.css">
  <title>Figuritas Faltantes</title>
</head>

<body>
  <form class="form-user-info" autocomplete="off">
    <div class="gato"></div>
    <header class="form-user-info__header user-card">
      <figure class="user-card__image"></figure>
      <div class="user-card__data">
        <h2 class="user-card__data-name">
          elMuñe
          <figure class="user-card__edit-icon"></figure>
        </h2>
        <p class="user-card__age"><b>Edad:</b> 73 años</p>
        <p class="user-card__addres"><b>Ubicacion:</b> Parque Chacabuco</p>
      </div>
      <div class="sep"></div>
    </header>
    <nav class="form__user-info__nav">
      <i class="button--icon fa-solid fa-chevron-left"></i>
      <button class="button--tab-on">Figuritas Faltantes</button>
      <i class="button--icon fa-solid fa-chevron-right"></i>
    </nav>
    <article class="form-user-info__body--cards">
      <article class="player-card">
        <section class="player-card__img">
          <img src="../../images/dibu.png" alt="Emiliano Martinez" />
          <i class="button--icon fa-solid fa-trash-can"></i>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Emiliano Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 23</p>
            <p><strong>Nacimiento:</strong> 02/09/92 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Arquero</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article>
      <article class="player-card">
        <section class="player-card__img">
          <img src="../../images/dibu.png" alt="Emiliano Martinez" />
          <i class="button--icon fa-solid fa-trash-can"></i>
        </section>
        <section class="player-card__content">
          <header class="player-card__header">
            <h2>Emiliano Martinez</h2>
            <h2><i class="fas fa-id-badge fa-sm"></i> 22</h2>
            <h2>
              <i class="fas fa-trophy fa-sm"></i><!--
              --><i class="fas fa-fire fa-sm"></i><!--
              --><i class="fas fa-star fa-sm"></i><!--
              --> 124
            </h2>
            <p>
              <i class="fa-solid fa-weight-scale fa-sm"></i></i><strong> Peso:</strong> 85 kilos
            </p>
            <p>
              <i class="fas fa-ruler-vertical fa-sm"></i><i class="fas fa-person fa-sm"></i></i><strong></i>
                Altura:</strong> 1.7 metros
            </p>
          </header>
          <section class="player-card__body">
            <p><strong>Casaca:</strong> 23</p>
            <p><strong>Nacimiento:</strong> 02/09/92 (30 años)</p>
            <p><strong>Selección:</strong> Argentina</p>
            <p><strong>Posición:</strong> Arquero</p>
          </section>
          <footer class="player-card__footer">
            <h2 class="player-card__body--highlight">COTIZACION: EU 28.000.000</h2>
          </footer>
        </section>
      </article>
    </article>
    <footer class="form-user-info__actions">
      <i class="button--circle fa-solid fa-plus"></i>
    </footer>
  </form>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>