<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <link rel="stylesheet" href="./profile-user.css">
  <title>Perfil de Usuario</title>
</head>

<body>
  <form class="form-info" autocomplete="off">
    <nav class="form-info__nav">
      <ul class="navbar__buttons">
        <li class="button--icon">
          <a class="button__link" href="">
            <i class="fa-solid fa-chevron-left"></i>
          </a>
        </li>        
        <button class="button--tab-on">Perfil Usuario</button>
        <li class="button--icon">
          <a class="button__link" href="">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    <article class="form-info__body">
      <h2 class="form__row-title">Información general</h2>
      <h3 class="form__row-subtitle">Nombre</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h3 class="form__row-subtitle">Apellido</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h3 class="form__row-subtitle">Correo electrónico</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h3 class="form__row-subtitle">Fecha de nacimiento</h3>
      <div class="form__row">
        <input name="secondary" class="form__input--secondary" type="text" placeholder="Texto aquí" />
      </div>
      <h2 class="form__row-title">Dirección</h2>
      <h3 class="form__row-subtitle">Provincia</h3>
      <div class="form__row">
        <select class="form__select">
          <option>Seleccione una opción</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
          <option>Opción 3</option>
        </select>
      </div>
      <h3 class="form__row-subtitle">Localidad</h3>
      <div class="form__row">
        <select class="form__select">
          <option>Seleccione una opción</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
          <option>Opción 3</option>
        </select>
      </div>
      <h3 class="form__row-subtitle">Calle</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h3 class="form__row-subtitle">Altura</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h2 class="form__row-title">Ubicación Geográfica</h2>
      <h3 class="form__row-subtitle">Latitud</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h3 class="form__row-subtitle">Longitud</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h3 class="form__row-subtitle">Distancia máxima de cercanía para intercambio</h3>
      <div class="form__row">
        <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
      </div>
      <h2 class="form__row-title">Criterio para el intercambio</h2>
      <h3 class="form__row-subtitle">Criterio</h3>
      <div class="form__row">
        <select class="form__select">
          <option>Seleccione una opción</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
          <option>Opción 3</option>
        </select>
      </div>
    </article>
    <footer class="form-info__actions">
        <button class="button--primary">Guardar</button>
        <button class="button--secondary">Resetear</button>
    </footer>
  </form>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>

</html>