<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./profile-user.css">
    <title>Profile User</title>
</head>
<body>
    <section class="user-card">
        <figure class="user-card--image"></figure>
        <div class="user-card--data">
          <h2 class="data-name">
            elMuñe
            <figure class="name-edit"></figure>
          </h2>
          <p class="age"><b>Edad:</b> 73 años</p>
          <p class="addres"><b>Ubicacion:</b> Parque Chacabuco</p>
        </div>
        <hr class="user-card-separator"></hr>
    </section>
    <!-- Ver como implementar los tabs, provisorio -->
    <section class="general-info">
      <h2>Información del Perfil</h2>
      <form autocomplete="off">
        <section class="form__container">
          <h3>Información general</h3>
          <div class="form__row">
            <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
          </div>
          <div class="form__row">
            <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
          </div>
          <div class="form__row">
            <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
          </div>
          <div class="form__row">
            <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
          </div>
        </section>
        <section  class="form__container">
          <h3>Dirección</h3>
          <div class="form__row">
            <select  class="form__input--primary">
              <option>Seleccione una opción</option>
              <option>Opción 1</option>
              <option>Opción 2</option>
              <option>Opción 3</option>
            </select>
          </div>
          <div class="form__row">
            <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
          </div>
          <div class="form__row">
            <select class="form__input--primary">
              <option>Seleccione una opción</option>
              <option>Opción 1</option>
              <option>Opción 2</option>
              <option>Opción 3</option>
            </select>
          </div>
          <div class="form__row">
            <input name="primary" class="form__input--primary" type="text" placeholder="Texto aquí" />
          </div>
        </section>
        <section class="form__container">
          <h3>Criterio para el cambio</h3>
          <div class="form__row">
            <select class="form__input--primary">
              <option>Seleccione una opción</option>
              <option>Opción 1</option>
              <option>Opción 2</option>
              <option>Opción 3</option>
            </select>
          </div>
        </section>
        <section class="container-button">
          <button class="button button--primary ">Guardar</button>
          <button class="button button--secondary">Resetear</button>
        </section>
      </form>
    </section>
</body>
</html>