@import url(/src/components/commons/input/input.css);
@import url(/src/components/commons/button/button.css);
@import url(/src/components/commons/navbar/navbar.css);
@import url(/src/components/card/card.css);

.form-info,
.form-info__nav,
.form-info__body,
.form-info__actions{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.form-info__nav{
  border: none;
}

.form-info{
  /*Layout*/
  width: 50%;
  min-width: 32rem;
  min-height: 50vh;
  margin-top: 1.4em;
  /*Visual*/
  background-color: var(--color-clear);
  color: var(--text-color);
}

.form-info__body {
  /*Layout*/
  padding: 0 var(--box-padding) var(--box-padding);
  gap: 0.3em;
  /*Visual*/
  background-color: var(--color-clear-dark);
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
}

.form-info__nav .button__link i{
  color: var(--text-color)
}

.form-info__body--cards {
  padding-top: 1.4em;
  gap: 1.4em;
}

.form-user-info__header.user-card {
  padding: 2em;
  background-image: var(--user-info-background);
}

.form-info__actions {
  /*Layout*/
  width: 100%;
  padding: var(--box-padding);
  gap: 0.6em;
  /*Visual*/
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
  background-color: var(--color-clear-dark);
}

.form-info__body .form__row-title,
.form__row-subtitle {
  /*Visual*/
  width: 100%;
  color: var(--text-color-medium);
}

.form-info__body .form__row-title{
  /*Layout*/
  padding-top: var(--box-padding);
}

.form-info__body .form__row-subtitle {
  /*Layout*/
  padding-top: 0.5em;
  /*Typeface*/
  font-weight: 400;
}

.form-info__nav .button--tab-on {
  /*Layout*/
  min-width: 14em;
  /*Typeface*/
  font-size: 1.6em;
  /*Visual*/
  cursor: default;
}

.form-info__nav i {
  /*Layout*/
  padding: 1em;
  /*Typeface*/
  font-size: 1.6em;
  /*Visual*/
  color: var(--text-color);
}

.form-info__actions .button--primary, 
.form-info__actions .button--secondary {
  /*Layout*/
  flex-basis: 100%;
}

.form-info__header .sep {
  /*Layout*/
  width: 100%;
  margin: 2em 0;
  /*Visual*/
  box-shadow: var(--box-shadow-2xs);
  border-top: 1px solid var(--color-clear-ligth);
  border-bottom: 1px solid var(--color-clear-dark);
}

.form-info__actions .button--circle {
  background-color: var(--color-terciary);
  font-size: 3em;
}

.form-info__actions .button--circle:hover {
  background-color: var(--color-focus);
}