@import url('../../../styles/styles.css');

/* body{
  display:flex;
  justify-content: center;
} */

.form__container {
  /*Layout*/
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 25rem;
  height: fit-content;
  padding: 2rem;
  /* Agrego FACU */
  margin: auto;
  gap: 2rem;
  /*Visual*/
  background-color: var(--clear-color);
}

.form__row {
  /*Layout*/
  display: flex;
  align-items: center;
  position: relative;
}

.form__input--primary,
.form__input--secondary,
.form__input--icon-left,
.form__input--icon-right {
  /*Layout*/
  flex: 1;
  min-width: 0;
  padding: 1rem;
  /*Typeface*/
  font-family: var(--primary-font);
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--medium-text);
  /*Visual*/
  background-color: var(--clear-color-lighter);
  border: 1px solid var(--clear-color);
  border-radius: var(--border-radius-xs);
  outline: none;
  box-shadow: var(--box-shadow-2xs);
  /*Animation */
  transition: border var(--transition-time) ease;
}

.form__input--primary::placeholder,
.form__input--secondary::placeholder,
.form__input--icon-left::placeholder,
.form__input--icon-right::placeholder {
  /*Visual*/
  color: var(--lighter-text)
}

.form__input--icon-left {
  /*Typeface*/
  text-indent: 1.9em;
}

.form__icon--left,
.form__icon--right {
  /*Layout*/
  position: absolute;
  width: 2.8rem;
  height: max-content;
  /*typeface*/
  text-align: center;
  /*Visual*/
  background-color: var(--primary-color);
  cursor: text;
  /*Animation*/
  transition: background-color var(--transition-time) ease;
}

.form__icon--right {
  /*Layout*/
  right: 0;
  /*Visual*/
  border-radius: 0 var(--border-radius-xs) var(--border-radius-xs) 0;
}

.form__icon--left {
  /*Layout*/
  left: 0;
  /*Visual*/
  border-radius: var(--border-radius-xs) 0 0 var(--border-radius-xs);
}

.form__input--primary {
  /* Visual*/
  border: 1px solid var(--primary-color);
}

.form__input--primary:focus,
.form__input--secondary:focus {
  /* Visual*/
  border: 1px solid var(--focus-color);
}

.form__input--icon-left:focus+i,
.form__input--icon-right:focus+i {
  /*Visual*/
  background-color: var(--focus-color);
}

.form__icon--left.fa-user,
.form__icon--left.fa-key,
.form__icon--right.fa-magnifying-glass {
  /*Typeface*/
  font-size: 1.4em;
  line-height: 4rem;
  /*Visual*/
  color: var(--clear-color);
}