<div class="home home--header-on home--2col home--search">
  <section class="home__search">
    <div class="field field--icon-right field--search">
      <div class="field__container rounded shadow">
        <input
          [(ngModel)]="storeSearch.palabraClave"
          id="name"
          class="field__input field__input--iconized field__input--icon-right rounded"
          type="text"
          autocomplete="off"
          data-testid="userInput"
        />
        <i
          (click)="clickAction()"
          class="field__icon field__icon--icon-right field__icon--pointer fas fa-magnifying-glass"
        ></i>
      </div>
    </div>
  </section>
  <section class="home__aside">
    <div class="home__aside__block">
          <app-sortedByFilter/>
      </div>
  </section>
  <section class="home__content home__content--grid">
    <app-card-market
      class="card-market"
      *ngFor="let marketCard of marketCards"
      [inputMarketCard]="marketCard"
    />
  </section>
</div>
