<section class="filter__section">
  <section class="filter__sub-section">
    <h4 class="filter__title filter__title--secondary" data-testid="valoracion">
      Valoración
    </h4>
    <article class="filter__input-group">
      <section class="filter__container">
        <!-- <app-input-field type="number" min="0" rounded value="from" label="Desde" [data-testid]="setTestId('inputFrom')" /> -->
      </section>
      <section class="filter__container">
        <!-- <app-input-field type="number" min="0" rounded value="to" label="Hasta" [data-testid]="setTestId('inputTo')" /> -->
      </section>
    </article>
    <section class="filter__checkbox">
      <!-- <app-control-field name="onFire" type="checkbox" value="onFire" [checked]="onFire" label="On Fire" [data-testid]="setTestId('checkboxOnFire')"/> -->
    </section>
      <section class="filter__checkbox">
        <!-- <app-control-field name="promise" type="checkbox" value="isPromise" [checked]="true" label="Es promesa" [data-testid]="setTestId('checkboxIsPromise')"/> -->
      </section>
  </section>
</section>
