<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../styles/styles.css">
  <link rel="stylesheet" href="button.css">
</head>

<body>
  <section class="test__container--button">
    <button class="button--primary ">Ingresar</button>
    <button class="button--secondary">Ingresar</button>
    <li class="button--icon">
      <a class="button__link" href="">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    </li>
    <li class="button--text">
      <a class="button__link" href="">Ingresar</a>
    </li>
    <li class="button--circle">
      <a class="button__link" href="">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li class="button--tab-on">
      <a href="">Información General</a>
    </li>
    <li class="button--tab-off">
      <a href="">Figuritas Repetidas</a>
    </li>
  </section>
  <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</body>