@import url("../../components/commons/layout/layout.css");
@import url("../../components/commons/input/input.css");
@import url("../../components/commons/button/button.css");
@import url("../../components/filter/filter.css");
@import url("../../components/card/card.css");

.wrapper__aside{
  padding: 0;
}

.filter{
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
}

@media screen and (min-width:401px){
  .wrapper__main-content{    
    overflow-x: auto;
  }
}

@media screen and (min-width:769px) {
  .wrapper {
    grid-template-columns: max(30rem, 20vw) auto;
  }
  
  .filter{
    margin: 1.2em;
    border-radius: var(--border-radius-md);
  }
}