<div class="home home--header-on home--2col home--search">
  <section class="home__search">
    <div class="searchbar">
      <app-icon-field rounded shaded icon="fas fa-magnifying-glass" variant="icon-right"></app-icon-field>
    </div>
  </section>
  <input type="text" (keyup.enter)="onEnterPressed()" [(ngModel)]="aBuscar">
  <!-- <button (click)="searchbar.search(aBuscar)">boton</button> -->
  <section class="home__aside">
    <app-baseFilter>
      <app-variantFilter #childFilter />
    </app-baseFilter>
  </section>
  <section class="home__content home__content--grid">
    <p *ngFor="let item of value">{{item}}</p>    
    <!-- <app-cardWtihOwner [card]="card" *ngFor="let card of listCards"/> -->
    <!-- <app-input-field tabindex=0 rounded shaded label='Input común'/>
    <app-input-field tabindex=1 type="number" rounded shaded label='Input común'/>
    <app-input-field tabindex=2 type="password" rounded shaded label='Input común'/>
    <app-icon-field rounded shaded icon="fas fa-magnifying-glass" variant="icon-right" label='Input con icono a la derecha'/>
    <app-icon-field rounded shaded icon="fas fa-magnifying-glass" label='Input con icono'/>
    <app-select-field rounded shaded label='Select field'/>
    <app-input-field error='The maximum length is 40 characters.' variant='underline'/>
    <app-input-field variant='underline'/> 
    <app-form/>--> 
  </section>  
</div>
