<div class="home home--header-on home--2col home--search">
  <section class="home__search">
    TODO: ACA VA EL SEARCHBAR
  </section>
  <section class="home__aside">
    <app-baseFilter>
      <app-variantFilter #childFilter />
      <!-- <app-sortedByFilter /> -->
    </app-baseFilter>
  </section>
  <section class="home__content home__content--grid">    
    <app-cardWtihOwner [card]="card" *ngFor="let card of listCards"/>
    <!-- <app-input-field tabindex=0 rounded shaded label='Input común'/>
    <app-input-field tabindex=1 type="number" rounded shaded label='Input común'/>
    <app-input-field tabindex=2 type="password" rounded shaded label='Input común'/>
    <app-icon-field rounded shaded icon="fas fa-magnifying-glass" variant="icon-right" label='Input con icono a la derecha'/>
    <app-icon-field rounded shaded icon="fas fa-magnifying-glass" label='Input con icono'/>
    <app-select-field rounded shaded label='Select field'/>
    <app-input-field error='The maximum length is 40 characters.' variant='underline'/>
    <app-input-field variant='underline'/> 
    <app-form/>--> 
  </section>  
</div>
