<div class="home home--header-on home--2col home--search">
  <section class="home__search">
    TODO: ACA VA EL SEARCHBAR
  </section>
  <section class="home__aside">
    TODO: ACA VA EL SIDEBAR
  </section>
  <section class="home__content home__content--grid">    
    <app-input-field rounded shaded label='Hola'></app-input-field>
    <app-icon-field rounded shaded icon="fas fa-magnifying-glass" variant="icon-right" label='Hola'></app-icon-field>
    <app-icon-field rounded shaded icon="fas fa-magnifying-glass" label='Hola'></app-icon-field>
    <app-select-field rounded shaded label='Hola'></app-select-field>    
    <app-input-field error='mensaje de error largo y apestoso' variant='underline'></app-input-field>    
    <app-input-field variant='underline'></app-input-field>  
  </section>  
</div>
