@import url('../../../styles/styles.css');

.cuadrado{
    font-size: 3rem;
    background-color: lightpink;
    height: 100px;
    width: 100px;
}

.main-footer {
    font-size: 2rem;

    /* Sizing and Style*/
    width: 100%;
    height: 10vh;
    background-color: var(--primary-color);
    
    /* Display Flex */
    display: flex;
    justify-content: space-evenly;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.circle{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 3rem;
    width: 3rem;
    background-color: var(--floral-white);
    color: var(--primary-color);
}

.icon:hover{
    background-color: var(--hover-color);
}

.shadow{
    box-shadow: var(--box-shadow-xs)
}
