<!-- <app-input-field  
  (onchangeInput)="onChangeIconEvent($event)"
  [label]="label"
  [name]="name"
  [value]="value"
  [class]="'field field--iconized'"
  [autofocus]="autofocus"
  [tabindex]="tabindex"
  [attr.testid]="testid"
  [attr.icon]="icon"
  [placeholder]="placeholder"
  [type]="type"
  [error]="error"
  [min]="min"
  [max]="max"
>
  
<i *ngIf="buttonOn; else buttonOff" iconElement [class]="iconCSS()" (click)="clickAction()" style="cursor: pointer"></i>
<ng-template #buttonOff>
  <i iconElement [class]="iconCSS()" ></i>
</ng-template>
  
</app-input-field> -->
