<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sortby-filter.css">
</head>
<body>
    <form class="variant-filter-b">

        <h4 class="variant-filter-b__h">Ordenar Por</h4>

        <div class="radio-filter">
            <input type="radio" id="closest" name="radio-filter--option" value="closest" checked>
            <label for="closest">Menor Distancia</label><br>

            <input type="radio" id="cheapest" name="radio-filter--option" value="cheapest">
            <label for="cheapest">Más Barato</label><br>

            <input type="radio" id="pack-quantity" name="radio-filter--option" value="pack-quantity">
            <label for="pack-quantity">Más Sobres</label><br>
        
            <input type="radio" id="closest-only" name="radio-filter--option" value="closest-only">
            <label for="closest-only">Solo los más cercanos</label>
        </div>

    </form>
</body>
</html>