@import url(/src/components/commons/layout/layout.css);
@import url(/src/components/card-user/card-user.css);
@import url(/src/components/profile-user/profile-user.css);

.grid-container{
  padding: var(--box-padding);
}

.wrapper__main-content {
  padding: 0;
}

.form-info{
  background-color: var(--color-terciary-complementary-lighter);
}

@media screen and (min-width:769px) {
  .wrapper__main-content {
    padding: var(--box-padding);
  }
}
