<section class="filter__section">
  <section class="filter__sub-section">
    <h4 class="filter__title filter__title--secondary" data-testid="valoracion">
      Valoración
    </h4>
    <article class="filter__input-group">
      <section class="filter__container">
        <app-input-field type="number" min="0" rounded value={{from}} label="Desde" />
      </section>
      <section class="filter__container">
        <app-input-field type="number" min="0" rounded value={{to}} label="Hasta"/>
      </section>
    </article>
    <section class="filter__checkbox">
      <input
        name="onFire"
        type="checkbox"
        [(ngModel)]="onFire"
        data-testid="checkboxOnFire"
      />
      <label for="onFire">On fire</label>
    </section>
    <!-- <article class="filter__sub-section filter__sub-section--grow"> -->
      <section class="filter__checkbox">
        <input
        name="promise"
        type="checkbox"
        [(ngModel)]="isPromise"
        data-testid="checkboxIsPromise"
        />
        <label for="promise">Es promesa</label>
      </section>
    <!-- </article> -->
  </section>
</section>
