.form-info,
.form-info__body,
.form-info__actions{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}


.form-info{
  /*Layout*/
  width: 100%;
  min-width: 32rem;
  min-height: 50vh;
  padding: 0 var(--box-padding) var(--box-padding);
  /*Visual*/
  color: var(--text-color);
}

.form-info__body {
  /*Layout*/
  position: relative;
  padding: 0 var(--box-padding) var(--box-padding);
  gap: 0.3em;
  width: 100%;
  /*Visual*/
  background-color: var(--color-clear-dark);
  border-radius: var(--border-radius-md);
}


.form-info__actions {
  /*Layout*/
  width: 100%;
  align-items: center;
  padding: var(--box-padding) 0;
  gap: 0.6em;
  /*Visual*/
  background-color: var(--color-clear-dark);
}

.form-info__body .form__title {
  /*Visual*/
  text-align: start;
  color: var(--text-color-medium);
}

.form-info__body .form__title{
  /*Layout*/
  width: 100%;
  font-size: 1.8em;
  padding: 0.5em 1em;
}


.form-info__actions .button--primary, 
.form-info__actions .button--secondary {
  /*Layout*/
  flex-grow: 1;
}

.button--primary,
.button--secondary {
  padding: var(--box-padding)
}
@media (min-width: 600px) {
  .form-info__actions{
    gap: var(--box-padding);
  }
  
  .form-info__actions .button--primary,
  .form-info__actions .button--secondary{
    flex-basis: 18em;    
  }  
  
  .form-info__body{    
    column-gap: var(--box-padding);
    justify-content: left;
  }
}

@media (width >= 769px) {
  .form-info{
    margin-top: 0;
  }
  
  .form-info__actions{
    border-radius: 0 0 var(--box-padding) var(--box-padding);
  }
  
}