<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/styles.css">
  <link rel="stylesheet" href="card-user.css" />
  <title>Card user</title>
</head>

<body>
  <article class="user-card">
    <img src="https://www.infobae.com/new-resizer/MQBzwcl--Jgxfm53chAmEYTm6V4=/arc-anglerfish-arc2-prod-infobae/public/PPHDXSRNQKYLGBP6WNPLD6S7DM.jpg"  class="user-card__image">
    <section class="user-card__data">
      <section class="user-card__data-name">
        <p>elMuñe</p>
        <li class="button--icon">
          <a class="button__link" href="">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </li>                
      </section>
      <section class="user-card__personal">
        <p><strong>Edad:</strong> 73 años</p>
        <p><strong>Ubicacion:</strong> Parque Chacabuco</p>
      </section>      
    </section>
  </article>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>